# Data Engineering & <br> Datetime Feature Engineering <br> of the Google Store Analytics Dataset
This dataset is provided by the Kaggle competition.  
https://www.kaggle.com/c/ga-customer-revenue-prediction

A lot of columns have data in json format, which need to be split out into separate columns of data.

Also, want to add some further features based on the date/time of day.

In [207]:
import pandas as pd
import numpy as np

from datetime import datetime, timezone, timedelta
# import holidays
import pytz

import requests
import os
gmaps_api_key = os.environ.get('googlemaps_api_key')
timezonedb_api_key = os.environ.get('timezonedb_api_key')

from time import sleep

# Import the Dataset
### (start with just a sample when getting code working)
Instead of working on the full training dataset, which has 903,653 rows, start by working on the top 10,000 rows of the full training dataset.

In [21]:
# df = pd.read_csv('data/train.csv', low_memory=False, dtype={'fullVisitorId':str}) #full training dataset

df = pd.read_pickle('data/train_sample.pkl') #top 10,000 rows of the training dataset
print(df.shape)
print(df.columns)
df.head(3)

(10000, 12)
Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime'],
      dtype='object')

,channelGrouping,date,device,fullVisitorId,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime
0,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",1131660440785968503,"{""continent"": ""Asia"", ""subContinent"": ""Western...",1131660440785968503_1472830385,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472830385,1,1472830385
1,Organic Search,20160902,"{""browser"": ""Firefox"", ""browserVersion"": ""not ...",377306020877927890,"{""continent"": ""Oceania"", ""subContinent"": ""Aust...",377306020877927890_1472880147,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472880147,1,1472880147
2,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",3895546263509774583,"{""continent"": ""Europe"", ""subContinent"": ""South...",3895546263509774583_1472865386,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472865386,1,1472865386

# Data Engineering - Split out All Columns that Have JSON/Dictionary Info into Individual Columns
Some of the colums in the dataset have json/dictionary info - in order to be able to graph data/break out the variables, we want to separate each of this info to separate columns where each key of the dictionary is its own column data.

The columns that need to be split out are:
['device', 'geoNetwork', 'totals', 'trafficSource']

In [22]:
#print out shape of dataframe and names of all columns of the dataframe to see what columns are getting added as iterate through
print('original df shape: ', df.shape)
print('original df columns: ', df.columns)

#iterate through each of the column names that have to be split out into indiviual columns
for column in ['device', 'geoNetwork', 'totals', 'trafficSource']:

    #print out the name of the column you are processing in this for loop
    print('\n----------------------------------------\nsplitting out column: ', column)

    
    #some of the dictionaries have values of false/true instead of 'false'/'true'; python can't read the false/true
    #because is expecting False/True - instead of creating these boolean names, just convert them to text string
    #of 'false'/'true' before evaluating to dictionary
    df[column] = df[column].map(lambda x: x.replace("false", "'false'"))
    df[column] = df[column].map(lambda x: x.replace("true", "'true'"))
  

    #the JSON/dictionary columns are imported as string types - need to convert to python dictionaries using eval
    df[column] = df[column].map(lambda x: eval(x))

    
    #figure out all the possible unique keys for the dictionaries in this column - need this to make sure we
    #iterate through all of the dictionary data and store into different columns
    unique_column_keys = set()
    #iterate through each row of the column dictionaries
    for row_dictionary in list(df[column]):
        #iterate through each key of the row's dictionary and add to the unique column keys set (use add instead of append for sets)
        for row_key in list(row_dictionary.keys()):
            unique_column_keys.add(row_key)
    print('max length of column dictionaries is: ', len(unique_column_keys))
    print('unique column keys are: ', unique_column_keys)

    
    #use the set of unique_column_keys to add a new column for each of these keys
    for column_key in unique_column_keys:
        #create new column names of format:  originalcolumnname_columnkey, eg 'device_isMobile'
        df[f"{column}_{column_key}"] = df[column].map(lambda x: x.get(column_key, np.nan))
    
    print('updated df shape: ', df.shape)
    print('updated df columns: ', df.columns, '\n')

#drop original columns that had dictionary/jsons so don't keep repetitive data (cuts file size down by almost 40%)
print('\n----------------------------------------\n')
df.drop(['device', 'geoNetwork', 'totals', 'trafficSource'], axis=1, inplace=True)
print('final df shape after dropping original columns: ', df.shape)
    
#show the final df head
df.head(3)

original df shape:  (10000, 12)
original df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime'],
      dtype='object')

----------------------------------------
splitting out column:  device
max length of column dictionaries is:  16
unique column keys are:  {'operatingSystemVersion', 'operatingSystem', 'deviceCategory', 'browser', 'mobileDeviceBranding', 'flashVersion', 'isMobile', 'mobileDeviceMarketingName', 'screenColors', 'mobileDeviceInfo', 'screenResolution', 'mobileDeviceModel', 'language', 'mobileInputSelector', 'browserVersion', 'browserSize'}
updated df shape:  (10000, 28)
updated df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime',
       'device_operatingSystemVersion', 'device_operatingSystem',
       'device_deviceCategory', 'device_browser',
       'device_mobileDeviceBranding', 'device_flashVersion', 'device_isMobile',
       'device_mobileDeviceMarketingName', 'device_screenColors',
       'device_mobileDeviceInfo', 'device_screenResolution',
       'device_mobileDeviceModel', 'device_language',
       'device_mobileInputSelector', 'device_browserVersion',
       'device_browserSize'],
      dtype='object')


----------------------------------------
splitting out column:  geoNetwork
max length of column dictionaries is:  11
unique column keys are:  {'region', 'cityId', 'subContinent', 'metro', 'networkLocation', 'continent', 'longitude', 'country', 'networkDomain', 'city', 'latitude'}
updated df shape:  (10000, 39)
updated df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime',
       'device_operatingSystemVersion', 'device_operatingSystem',
       'device_deviceCategory', 'device_browser',
       'device_mobileDeviceBranding', 'device_flashVersion', 'device_isMobile',
       'device_mobileDeviceMarketingName', 'device_screenColors',
       'device_mobileDeviceInfo', 'device_screenResolution',
       'device_mobileDeviceModel', 'device_language',
       'device_mobileInputSelector', 'device_browserVersion',
       'device_browserSize', 'geoNetwork_region', 'geoNetwork_cityId',
       'geoNetwork_subContinent', 'geoNetwork_metro',
       'geoNetwork_networkLocation', 'geoNetwork_continent',
       'geoNetwork_longitude', 'geoNetwork_country',
       'geoNetwork_networkDomain', 'geoNetwork_city', 'geoNetwork_latitude'],
      dtype='object')


----------------------------------------
splitting out column:  totals
max length of column dictionaries is:  6
unique column keys are:  {'visits', 'newVisits', 'hits', 'bounces', 'pageviews', 'transactionRevenue'}
updated df shape:  (10000, 45)
updated df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime',
       'device_operatingSystemVersion', 'device_operatingSystem',
       'device_deviceCategory', 'device_browser',
       'device_mobileDeviceBranding', 'device_flashVersion', 'device_isMobile',
       'device_mobileDeviceMarketingName', 'device_screenColors',
       'device_mobileDeviceInfo', 'device_screenResolution',
       'device_mobileDeviceModel', 'device_language',
       'device_mobileInputSelector', 'device_browserVersion',
       'device_browserSize', 'geoNetwork_region', 'geoNetwork_cityId',
       'geoNetwork_subContinent', 'geoNetwork_metro',
       'geoNetwork_networkLocation', 'geoNetwork_continent',
       'geoNetwork_longitude', 'geoNetwork_country',
       'geoNetwork_networkDomain', 'geoNetwork_city', 'geoNetwork_latitude',
       'totals_visits', 'totals_newVisits', 'totals_hits', 'totals_bounces',
       'totals_pageviews', 'totals_transactionRevenue'],
      dtype='object')


----------------------------------------
splitting out column:  trafficSource
max length of column dictionaries is:  8
unique column keys are:  {'campaign', 'medium', 'referralPath', 'isTrueDirect', 'adContent', 'source', 'keyword', 'adwordsClickInfo'}
updated df shape:  (10000, 53)
updated df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime',
       'device_operatingSystemVersion', 'device_operatingSystem',
       'device_deviceCategory', 'device_browser',
       'device_mobileDeviceBranding', 'device_flashVersion', 'device_isMobile',
       'device_mobileDeviceMarketingName', 'device_screenColors',
       'device_mobileDeviceInfo', 'device_screenResolution',
       'device_mobileDeviceModel', 'device_language',
       'device_mobileInputSelector', 'device_browserVersion',
       'device_browserSize', 'geoNetwork_region', 'geoNetwork_cityId',
       'geoNetwork_subContinent', 'geoNetwork_metro',
       'geoNetwork_networkLocation', 'geoNetwork_continent',
       'geoNetwork_longitude', 'geoNetwork_country',
       'geoNetwork_networkDomain', 'geoNetwork_city', 'geoNetwork_latitude',
       'totals_visits', 'totals_newVisits', 'totals_hits', 'totals_bounces',
       'totals_pageviews', 'totals_transactionRevenue',
       'trafficSource_campaign', 'trafficSource_medium',
       'trafficSource_referralPath', 'trafficSource_isTrueDirect',
       'trafficSource_adContent', 'trafficSource_source',
       'trafficSource_keyword', 'trafficSource_adwordsClickInfo'],
      dtype='object')


----------------------------------------

final df shape after dropping original columns:  (10000, 49)

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device_operatingSystemVersion,device_operatingSystem,...,totals_pageviews,totals_transactionRevenue,trafficSource_campaign,trafficSource_medium,trafficSource_referralPath,trafficSource_isTrueDirect,trafficSource_adContent,trafficSource_source,trafficSource_keyword,trafficSource_adwordsClickInfo
0,Organic Search,20160902,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,not available in demo dataset,Windows,...,1,NaN,(not set),organic,NaN,NaN,NaN,google,(not provided),{'criteriaParameters': 'not available in demo ...
1,Organic Search,20160902,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,not available in demo dataset,Macintosh,...,1,NaN,(not set),organic,NaN,NaN,NaN,google,(not provided),{'criteriaParameters': 'not available in demo ...
2,Organic Search,20160902,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,not available in demo dataset,Windows,...,1,NaN,(not set),organic,NaN,NaN,NaN,google,(not provided),{'criteriaParameters': 'not available in demo ...

# Datetime Feature Engineering
### (Add in Additional Date/Time Features into our Data to Help with Analysis - day of week, holiday, local timezone, etc.)
1. Use the visitStartTime, which is a POSIX timestamp to get the UTC date and hour all together into a datetime object (rather than converting just the date column, which doesn't have any hour info).  This POSIX format can be extracted to a python datetime object - for example, a timestamp of 1472830385 becomes datetime.datetime(2016, 09, 02, 9, 33, 5), wich is in format year, month, day, hour, minute, second.
2. Then use the UTC datetime object to extract to a string formatted datetime_iso_utc (that can be used for time series analysis based on purchase time).  (iso format is: 'YYYY-MM-DD HH:MM:SS')
    - datetime_iso_utc
3. Convert to local timezone datetime object (this will require an indepth sub-process to identify timezone/call it)
4. Using the local timezone datetime object, extract multiple new datetime features:
    - datetime_iso_local
    - year_local
    - month_local
    - day_local
    - yearday_local (overall day of the year 1 to 365, which captures the month and day values)
    - weekday_local (values of 1 to 7 - 1 is Monday)
    - hour_local
5. Try to add a column to determine whether the date is a holiday or not.
    - holiday_local

### Figure Out Local Timezones for Each Location 
- Combine City/Country info given to us
- Get a rough lat/lng for that location by using Gmaps Geocoding API
- Use timezonedb API to send each location lat/lng to find out the local timezone

In [152]:
###CREATE NEW CITY_COUNTRY COLUMN THAT COMBINES CITY/COUNTRY TOGETHER###

#the geographic information provided almost always has a country listed (a very small percent country is "(not set)")
#note - there some strange, incorrect combinations - like New York Canada or Mountain View Germany, which will have a small percentage of rough data
#the geographic information sometimes have a city (more common for larger countries, but not consistent)

df['city_country'] = df.apply(lambda row: 
                              row.geoNetwork_city + " " + row.geoNetwork_country 
                              if row.geoNetwork_city not in ["not available in demo dataset", "(not set)"] 
                              else row.geoNetwork_country,
                              axis='columns')

In [102]:
###GET LAT, LNG OF ALL CITY_COUNTRY COMBINATIONS (best approximation for location with sample data)###

#create a unique set of all city_country combinations to cycle through
city_country_set = set(df.city_country)
#remove the '(not set)' label from the set for the few cases where '(not set)' was in country
city_country_set.remove('(not set)')

#get Lat/Lng for our locations by using Google Geocoding and store info in a dictionary
city_country_lat_lng = {}

for city_country in city_country_set:
    #Google Geocoding works by inputting an address and get a lat, lng returned
    #https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=YOUR_API_KEY
    #every data point at least has a country

    base_geocode_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
    geocode_parameters = {'address': city_country,
                          'key': gmaps_api_key}

    json_geocode_response = requests.get(base_geocode_url, geocode_parameters).json()
    lat = json_geocode_response.get('results')[0].get('geometry').get('location').get('lat')
    lng = json_geocode_response.get('results')[0].get('geometry').get('location').get('lng')
    
    city_country_lat_lng[city_country] = (lat, lng)


#add a column to the dataframe that has each city_country approximate lat/lng
df['lat_lng'] = df['city_country'].map(lambda x: city_country_lat_lng.get(x, np.nan))

In [188]:
###GET APPROXIMATE TIMEZONE FOR EACH CITY_COUNTRY COMBINATIONS (using timezonedb API)###

#store timezone for all of our city_country locations in a dictionary
city_country_timezone = {}

#city_country_lat_lng is a dictionary with city_country: (lat, lng)
#cycle through each city_country lat,lng and call the timezonedb API
for city_country, lat_lng in city_country_lat_lng.items():
    #get local timezone info for each city/country combination in our dataset by looking up their lat,lng
    #http://api.timezonedb.com/v2.1/get-time-zone (has a 1 second rate limit)
    base_timezonedb_url = 'http://api.timezonedb.com/v2.1/get-time-zone?'
    timezonedb_parameters = {'key': timezonedb_api_key,
                             'format': 'json',
                             'by': 'position',
                             'lat': lat_lng[0],
                             'lng': lat_lng[1]}

    json_timezone_response = requests.get(base_timezonedb_url, timezonedb_parameters).json()
    #get the gmt timezone offset and the abbreviation for the timezone - gmtOffset it the time offset in seconds
    #so will need to divide it by 3600 to get the usable offset in hours
    timezone_abbreviation = json_timezone_response.get('abbreviation', np.nan)
    timezone_gmt_offset = json_timezone_response.get('gmtOffset', np.nan)/3600
    
    city_country_timezone[city_country] = (timezone_abbreviation, timezone_gmt_offset)
    
    #need to sleep for 1 second because api says it has a 1 request/second rate limit
    sleep(1.1)

#add a column to the dataframe that has each city_country approximate timezone
df['timezone'] = df['city_country'].map(lambda x: city_country_timezone.get(x, (np.nan, np.nan)))

In [402]:
df[df.fullVisitorId == '7020148216329907379']

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device_operatingSystemVersion,device_operatingSystem,...,trafficSource_medium,trafficSource_referralPath,trafficSource_isTrueDirect,trafficSource_adContent,trafficSource_source,trafficSource_keyword,trafficSource_adwordsClickInfo,city_country,lat_lng,timezone
309,Referral,20160902,7020148216329907379,7020148216329907379_1472854128,Not Socially Engaged,1472854128,1,1472854128,not available in demo dataset,Chrome OS,...,referral,/,NaN,NaN,mall.googleplex.com,NaN,{'criteriaParameters': 'not available in demo ...,Mountain View United States,"(37.3860517, -122.0838511)","(PDT, -7.0)"

In [403]:
# df.timezone[310]
df.iloc[310]

channelGrouping                                                              Referral
date                                                                         20160902
fullVisitorId                                                      149633083723377298
sessionId                                               149633083723377298_1472819179
socialEngagementType                                             Not Socially Engaged
visitId                                                                    1472819179
visitNumber                                                                         1
visitStartTime                                                             1472819179
device_operatingSystemVersion                           not available in demo dataset
device_operatingSystem                                                        Windows
device_deviceCategory                                                         desktop
device_browser                                                                 Chrome
device_mobileDeviceBranding                             not available in demo dataset
device_flashVersion                                     not available in demo dataset
device_isMobile                                                                 false
device_mobileDeviceMarketingName                        not available in demo dataset
device_screenColors                                     not available in demo dataset
device_mobileDeviceInfo                                 not available in demo dataset
device_screenResolution                                 not available in demo dataset
device_mobileDeviceModel                                not available in demo dataset
device_language                                         not available in demo dataset
device_mobileInputSelector                              not available in demo dataset
device_browserVersion                                   not available in demo dataset
device_browserSize                                      not available in demo dataset
geoNetwork_region                                                           (not set)
geoNetwork_cityId                                       not available in demo dataset
geoNetwork_subContinent                                                     (not set)
geoNetwork_metro                                                            (not set)
geoNetwork_networkLocation                              not available in demo dataset
geoNetwork_continent                                                        (not set)
geoNetwork_longitude                                    not available in demo dataset
geoNetwork_country                                                          (not set)
geoNetwork_networkDomain                                                    (not set)
geoNetwork_city                                                             (not set)
geoNetwork_latitude                                     not available in demo dataset
totals_visits                                                                       1
totals_newVisits                                                                    1
totals_hits                                                                         2
totals_bounces                                                                    NaN
totals_pageviews                                                                    2
totals_transactionRevenue                                                         NaN
trafficSource_campaign                                                      (not set)
trafficSource_medium                                                         referral
trafficSource_referralPath                                            /analytics/web/
trafficSource_isTrueDirect                                                        NaN
trafficSource_adContent                                                           NaN
trafficSource_source                                             analytics.google.com
trafficSource_keyword                                                             NaN
trafficSource_adwordsClickInfo      {'criteriaParameters': 'not available in demo ...
city_country                                                                (not set)
lat_lng                                                                           NaN
timezone                                                                   (nan, nan)
Name: 310, dtype: object

In [368]:
city_country_timezone

{'Greenland': ('', 0.0),
 'Cyprus': ('EEST', 3.0),
 'Prague Czechia': ('CEST', 2.0),
 'Mountain View China': ('PDT', -7.0),
 'Botswana': ('CAT', 2.0),
 'London United States': ('EDT', -4.0),
 'Poland': ('CEST', 2.0),
 'Belgium': ('CEST', 2.0),
 'Warsaw Poland': ('CEST', 2.0),
 'Lebanon': ('EEST', 3.0),
 'Karachi Pakistan': ('PKT', 5.0),
 'Vietnam': ('+07', 7.0),
 'Lithuania': ('EEST', 3.0),
 'Nepal': ('+0545', 5.75),
 'Croatia': ('CEST', 2.0),
 'Panama': ('EST', -5.0),
 'Iraq': ('+03', 3.0),
 'Kazakhstan': ('+06', 6.0),
 'Mexico': ('CDT', -5.0),
 'Malaysia': ('+08', 8.0),
 'Columbus United States': ('EDT', -4.0),
 'Hong Kong': ('HKT', 8.0),
 'Kuwait': ('+03', 3.0),
 'San Jose United States': ('PDT', -7.0),
 'Chennai India': ('IST', 5.5),
 'Madrid Spain': ('CEST', 2.0),
 'Ukraine': ('EEST', 3.0),
 'Bulgaria': ('EEST', 3.0),
 'Laos': ('+07', 7.0),
 'Kiev Ukraine': ('EEST', 3.0),
 'Senegal': ('GMT', 0.0),
 'Tunis Tunisia': ('CET', 1.0),
 'Costa Rica': ('CST', -6.0),
 'Chuo Japan': ('JST', 9.0),
 'Philippines': ('PST', 8.0),
 'New York Canada': ('EDT', -4.0),
 'Mumbai India': ('IST', 5.5),
 'Bosnia & Herzegovina': ('CEST', 2.0),
 'Dubai United Arab Emirates': ('+04', 4.0),
 'Serbia': ('CEST', 2.0),
 'Los Angeles United States': ('PDT', -7.0),
 'France': ('CEST', 2.0),
 'Nairobi Kenya': ('EAT', 3.0),
 'Vancouver Canada': ('PDT', -7.0),
 'Villafranca del Castillo Spain': ('CEST', 2.0),
 'Istanbul Turkey': ('+03', 3.0),
 'Norway': ('CEST', 2.0),
 'Puerto Rico': ('AST', -4.0),
 'Beijing China': ('CST', 8.0),
 'Kenya': ('EAT', 3.0),
 'Colombia': ('-05', -5.0),
 'Mauritius': ('+04', 4.0),
 'Spain': ('CEST', 2.0),
 'Morocco': ('WEST', 1.0),
 'Santa Clara United States': ('PDT', -7.0),
 'Dublin Ireland': ('IST', 1.0),
 'Dominican Republic': ('AST', -4.0),
 'Tanzania': ('EAT', 3.0),
 'Saudi Arabia': ('+03', 3.0),
 'San Francisco United States': ('PDT', -7.0),
 'Slovakia': ('CEST', 2.0),
 'Bangladesh': ('+06', 6.0),
 'Kosovo': ('CEST', 2.0),
 'Madrid Portugal': ('CEST', 2.0),
 'Chile': ('-03', -3.0),
 'Hong Kong Taiwan': ('HKT', 8.0),
 'Latvia': ('EEST', 3.0),
 'Milpitas United States': ('PDT', -7.0),
 'Hamburg Germany': ('CEST', 2.0),
 'Montreal Canada': ('EDT', -4.0),
 'Armenia': ('+04', 4.0),
 'Thailand': ('+07', 7.0),
 'Egypt': ('EET', 2.0),
 'Ethiopia': ('EAT', 3.0),
 'Rio de Janeiro Brazil': ('-03', -3.0),
 'Australia': ('ACST', 9.5),
 'Palo Alto United States': ('PDT', -7.0),
 'United Kingdom': ('BST', 1.0),
 'Izmir Turkey': ('+03', 3.0),
 'Peru': ('-05', -5.0),
 'China': ('CST', 8.0),
 'Malta': ('CEST', 2.0),
 'Bahrain': ('+03', 3.0),
 'Budapest Hungary': ('CEST', 2.0),
 'Ankara Turkey': ('+03', 3.0),
 'Madagascar': ('EAT', 3.0),
 'Libya': ('EET', 2.0),
 'Santiago Chile': ('-03', -3.0),
 'Fremont United States': ('PDT', -7.0),
 'Palestine': ('EEST', 3.0),
 'Hradec Kralove Czechia': ('CEST', 2.0),
 'Pune India': ('IST', 5.5),
 'Tigard United States': ('PDT', -7.0),
 'Irvine United States': ('PDT', -7.0),
 'Macedonia (FYROM)': ('CEST', 2.0),
 'Mauritania': ('GMT', 0.0),
 'Sao Paulo Brazil': ('-03', -3.0),
 'Jakarta Indonesia': ('WIB', 7.0),
 'Santiago United States': ('CDT', -5.0),
 'El Salvador': ('CST', -6.0),
 'San Francisco Taiwan': ('PDT', -7.0),
 'Qatar': ('+03', 3.0),
 'San Francisco Ireland': ('PDT', -7.0),
 'Munich Germany': ('CEST', 2.0),
 'United States': ('CDT', -5.0),
 'Mountain View Germany': ('PDT', -7.0),
 'Atlanta United States': ('EDT', -4.0),
 'Petaling Jaya Malaysia': ('+08', 8.0),
 'Bolivia': ('-04', -4.0),
 'Seoul South Korea': ('KST', 9.0),
 'South Africa': ('SAST', 2.0),
 'Sao Paulo Ireland': ('-03', -3.0),
 'Sweden': ('CEST', 2.0),
 'Benin': ('WAT', 1.0),
 'Venezuela': ('-04', -4.0),
 'Kolkata India': ('IST', 5.5),
 'Georgia': ('EDT', -4.0),
 'Mountain View United States': ('PDT', -7.0),
 'Yokohama Japan': ('JST', 9.0),
 'Honduras': ('CST', -6.0),
 'Montenegro': ('CEST', 2.0),
 'Taiwan': ('CST', 8.0),
 'Turkey': ('+03', 3.0),
 'Hong Kong United States': ('HKT', 8.0),
 'Ningbo China': ('CST', 8.0),
 'Paris France': ('CEST', 2.0),
 'Austin United States': ('CDT', -5.0),
 'Montreal United States': ('CDT', -5.0),
 'Togo': ('GMT', 0.0),
 'Somalia': ('EAT', 3.0),
 'Amsterdam Netherlands': ('CEST', 2.0),
 'Netherlands': ('CEST', 2.0),
 'Shinjuku Japan': ('JST', 9.0),
 'Decin Czechia': ('CEST', 2.0),
 'Salem United States': ('EDT', -4.0),
 'Ostrava Czechia': ('CEST', 2.0),
 'Albania': ('CEST', 2.0),
 'Indore India': ('IST', 5.5),
 'Jamaica': ('EST', -5.0),
 'Kyrgyzstan': ('+06', 6.0),
 'Sri Lanka': ('+0530', 5.5),
 'Austria': ('CEST', 2.0),
 'Nicaragua': ('CST', -6.0),
 'Evanston United States': ('CDT', -5.0),
 'Ho Chi Minh City Vietnam': ('+07', 7.0),
 'Sunnyvale Australia': ('ACDT', 10.5),
 'Hungary': ('CEST', 2.0),
 'Moldova': ('EEST', 3.0),
 'Singapore Singapore': ('+08', 8.0),
 'Subang Jaya Malaysia': ('+08', 8.0),
 'Portugal': ('WEST', 1.0),
 'Quezon City Philippines': ('PST', 8.0),
 'Azerbaijan': ('+04', 4.0),
 'Lisbon Portugal': ('WEST', 1.0),
 'Chicago United States': ('CDT', -5.0),
 'Jordan': ('EEST', 3.0),
 'Santa Clara China': ('PDT', -7.0),
 'Cape Verde': ('-01', -1.0),
 'Tunisia': ('CET', 1.0),
 'Monterrey Mexico': ('CDT', -5.0),
 'Uruguay': ('-03', -3.0),
 'Seoul United States': ('KST', 9.0),
 'Rwanda': ('CAT', 2.0),
 'Stockholm Sweden': ('CEST', 2.0),
 'Cameroon': ('WAT', 1.0),
 'Switzerland': ('CEST', 2.0),
 'Hyderabad India': ('IST', 5.5),
 'Cupertino United States': ('PDT', -7.0),
 'Paraguay': ('-03', -3.0),
 'Ireland': ('IST', 1.0),
 'Sydney Australia': ('AEDT', 11.0),
 'Gambia': ('GMT', 0.0),
 'Colombo Sri Lanka': ('+0530', 5.5),
 'Myanmar (Burma)': ('+0630', 6.5),
 'Denmark': ('CEST', 2.0),
 'Uganda': ('EAT', 3.0),
 'Ann Arbor United States': ('EDT', -4.0),
 'Frankfurt Germany': ('CEST', 2.0),
 'Czechia': ('CEST', 2.0),
 'Melbourne Australia': ('AEDT', 11.0),
 'Pakistan': ('PKT', 5.0),
 'Namibia': ('CAT', 2.0),
 'Russia': ('+07', 7.0),
 'San Diego United States': ('PDT', -7.0),
 'India': ('IST', 5.5),
 'Slovenia': ('CEST', 2.0),
 'San Jose Taiwan': ('PDT', -7.0),
 'Amsterdam United States': ('EDT', -4.0),
 'Buenos Aires Argentina': ('-03', -3.0),
 'Mexico City Mexico': ('CDT', -5.0),
 'New Caledonia': ('+11', 11.0),
 'Pittsburgh United States': ('EDT', -4.0),
 'Richardson United States': ('CDT', -5.0),
 'Cambodia': ('+07', 7.0),
 'Moscow Russia': ('MSK', 3.0),
 'New Zealand': ('NZDT', 13.0),
 'Romania': ('EEST', 3.0),
 'Singapore': ('+08', 8.0),
 'Boulder United States': ('MDT', -6.0),
 'Brazil': ('-04', -4.0),
 'Jaipur India': ('IST', 5.5),
 'Israel': ('IDT', 3.0),
 'La Victoria Peru': ('-05', -5.0),
 'Phoenix United States': ('MST', -7.0),
 'South San Francisco United States': ('PDT', -7.0),
 'Turks & Caicos Islands': ('EDT', -4.0),
 'Brisbane Australia': ('AEST', 10.0),
 'Portland United States': ('PDT', -7.0),
 'Barcelona Spain': ('CEST', 2.0),
 'Hong Kong Hong Kong': ('HKT', 8.0),
 'Zagreb Croatia': ('CEST', 2.0),
 'Zimbabwe': ('CAT', 2.0),
 'Hanoi Vietnam': ('+07', 7.0),
 'Seattle United Kingdom': ('PDT', -7.0),
 'Guatemala': ('CST', -6.0),
 'London United Kingdom': ('BST', 1.0),
 'Boardman United States': ('PDT', -7.0),
 'Uzbekistan': ('+05', 5.0),
 'New York United States': ('EDT', -4.0),
 'New Delhi India': ('IST', 5.5),
 'Greece': ('EEST', 3.0),
 'South Korea': ('KST', 9.0),
 'Houston United States': ('CDT', -5.0),
 'Oman': ('+04', 4.0),
 'Kuala Lumpur Malaysia': ('+08', 8.0),
 'Congo - Kinshasa': ('CAT', 2.0),
 'Cambridge United States': ('EDT', -4.0),
 'Ghana': ('GMT', 0.0),
 'Boston United States': ('EDT', -4.0),
 'Mongolia': ('+08', 8.0),
 'Finland': ('EEST', 3.0),
 'Toronto Canada': ('EDT', -4.0),
 'Trinidad & Tobago': ('AST', -4.0),
 'Germany': ('CEST', 2.0),
 'Bengaluru India': ('IST', 5.5),
 'Ecuador': ('-05', -5.0),
 'Canada': ('CST', -6.0),
 'Seattle United States': ('PDT', -7.0),
 'Dallas United States': ('CDT', -5.0),
 'Sunnyvale United States': ('PDT', -7.0),
 'Réunion': ('+04', 4.0),
 'Indonesia': ('WIB', 7.0),
 'La Victoria Argentina': ('-03', -3.0),
 'Washington United States': ('PDT', -7.0),
 'Rome Italy': ('CEST', 2.0),
 'Berlin Germany': ('CEST', 2.0),
 'Estonia': ('EEST', 3.0),
 'United Arab Emirates': ('+04', 4.0),
 'Minato Japan': ('JST', 9.0),
 'Kirkland United States': ('PDT', -7.0),
 'Iceland': ('GMT', 0.0),
 'San Bruno United States': ('PDT', -7.0),
 'Italy': ('CEST', 2.0),
 'Haiti': ('EDT', -4.0),
 'Tel Aviv-Yafo Israel': ('IDT', 3.0),
 'Argentina': ('-03', -3.0),
 'Algeria': ('CET', 1.0),
 'Japan': ('JST', 9.0),
 'St. Kitts & Nevis': ('AST', -4.0),
 'Bangkok Thailand': ('+07', 7.0),
 'Nigeria': ('WAT', 1.0),
 'Côte d’Ivoire': ('GMT', 0.0),
 'Belarus': ('+03', 3.0),
 'Toronto United States': ('EDT', -4.0)}

### Extract the Different Datetime Features

- datetime_iso_utc   ('YYYY-MM-DD HH:MM:SS')
- datetime_iso_local  ('YYYY-MM-DD HH:MM:SS')
- year_local
- month_local
- day_local
- yearday_local (overall day of the year 1 to 365, which captures the month and day values)
- weekday_local  (values of 1 to 7 where 1 is Monday)
- hour_local
- holiday_local

In [431]:
def extract_datetime_info(timestamp, gtm_offset_hours):
    #first convert the timestamp to datetime object with utc setting
    datetime_object_utc = datetime.fromtimestamp(timestamp, tz=pytz.UTC)
    #convert timestamp to isoformat for timeseries analysis in Tableau, etc. (and ease of viewing) - both utc and local
    #initially gives string format of '2016-09-02T09:33:05', strip out the middle T so looks like '2016-09-02 09:33:05'
    datetime_iso_utc = datetime_object_utc.isoformat().replace("T", " ")  #'YYYY-MM-DD HH:MM:SS'
    
    #these timestamps aren't adjusted for timezone, in order to have better analysis
    #it seems like we would want the datetime in the approximate local timezone based on country/city since
    #we would assume consumer behavior is more similar between consumers based on the local time, rather than UTC time
    #some of the data doesn't have a timezone, so only return the datetime_iso_utc if gtm_offset_hours is not a nan
    if ~np.isnan(gtm_offset_hours): 
        #convert datetime by changing the timezone by the gtmOffsets
        datetime_object_local = datetime_object_utc.astimezone(timezone(timedelta(hours=gtm_offset_hours)))

        #convert timestamp to isoformat for timeseries analysis in Tableau, etc. (and ease of viewing) - both utc and local
        #initially gives string format of '2016-09-02T09:33:05', strip out the middle T so looks like '2016-09-02 09:33:05'
        datetime_iso_local = datetime_object_local.isoformat().replace("T", " ")  #'YYYY-MM-DD HH:MM:SS'

        #extract year, month, month-day, day, day of the week (using isoweekday), and hour into different variables
        year_local = datetime_object_local.year #YYYY (as int)
        month_local = datetime_object_local.month #MM (as int)
        day_local = datetime_object_local.day #DD (as int) - this is the day of the month, max 31
        yearday_local = datetime_object_local.timetuple().tm_yday #DDD (as int) - this is the day of the year sequentially 1 to 365 which gives context of the month-day in one value
        weekday_local = datetime_object_local.isoweekday() #integer values of 1 to 7 where 1 is Monday
        hour_local = datetime_object_local.hour #HH (as int)

        return datetime_iso_utc, datetime_iso_local, year_local, month_local, day_local, yearday_local, weekday_local, hour_local
    
    else:
        return datetime_iso_utc, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan

In [432]:
#use the extract_datetime_info function to add columns of all of the additional datetime features to the df
df[['datetime_iso_utc', 'datetime_iso_local',
    'year_local', 'month_local','day_local',
    'yearday_local', 'weekday_local', 'hour_local']] = df[['visitStartTime', 'timezone']].apply(lambda row:
                                                        extract_datetime_info(row.visitStartTime, row.timezone[1]),
                                                        axis='columns',
                                                        result_type='expand')

In [439]:
df.head()

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device_operatingSystemVersion,device_operatingSystem,...,lat_lng,timezone,datetime_iso_utc,datetime_iso_local,year_local,month_local,day_local,yearday_local,weekday_local,hour_local
0,Organic Search,20160902,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,not available in demo dataset,Windows,...,"(38.423734, 27.142826)","(+03, 3.0)",2016-09-02 15:33:05+00:00,2016-09-02 18:33:05+03:00,2016.0,9.0,2.0,246.0,5.0,18.0
1,Organic Search,20160902,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,not available in demo dataset,Macintosh,...,"(-25.274398, 133.775136)","(ACST, 9.5)",2016-09-03 05:22:27+00:00,2016-09-03 14:52:27+09:30,2016.0,9.0,3.0,247.0,6.0,14.0
2,Organic Search,20160902,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,not available in demo dataset,Windows,...,"(40.4167754, -3.7037902)","(CEST, 2.0)",2016-09-03 01:16:26+00:00,2016-09-03 03:16:26+02:00,2016.0,9.0,3.0,247.0,6.0,3.0
3,Organic Search,20160902,4763447161404445595,4763447161404445595_1472881213,Not Socially Engaged,1472881213,1,1472881213,not available in demo dataset,Linux,...,"(-0.789275, 113.921327)","(WIB, 7.0)",2016-09-03 05:40:13+00:00,2016-09-03 12:40:13+07:00,2016.0,9.0,3.0,247.0,6.0,12.0
4,Organic Search,20160902,27294437909732085,27294437909732085_1472822600,Not Socially Engaged,1472822600,2,1472822600,not available in demo dataset,Android,...,"(55.378051, -3.435973)","(BST, 1.0)",2016-09-02 13:23:20+00:00,2016-09-02 14:23:20+01:00,2016.0,9.0,2.0,246.0,5.0,14.0

# Clean and Save Engineered Dataframe to Pickle for Easier Access Later

In [449]:
#there are many columns in our sample data that only have 'not available in demo dataset' values,
#so want to drop those columns as they are not useful
columns_to_drop = ['device_language', 'device_screenColors', 'device_mobileDeviceMarketingName', 'device_mobileInputSelector', 
'device_mobileDeviceBranding', 'device_mobileDeviceInfo', 'device_browserSize', 'device_browserVersion', 'device_mobileDeviceModel',
'device_flashVersion', 'device_screenResolution', 'device_operatingSystemVersion', 'geoNetwork_cityId', 'geoNetwork_latitude',
'geoNetwork_networkLocation', 'geoNetwork_longitude', 'trafficSource_adwordsClickInfo']

df.drop(columns_to_drop, axis=1, inplace=True)

In [450]:
# #dropping one row in the FULL TRAINING DATASET (v1) that was causing an error when trying to save data to a csv for Tableau processing
# df.drop(564203, inplace=True)

In [452]:
#verify the size of the df we are saving (the full training datset should be about 100k rows on partial
#and 900k rows on fulland 43 good columns)
print(df.shape)

(10000, 43)

In [453]:
#save the dataframe to pickle and a csv - PARTIAL DATASET
df.to_pickle('data/train_partial_data_split.pkl')
df.to_csv('data/train_partial_data_split.csv')

# #save the dataframe to pickle and a csv - FULL TRAINING DATASET (v1)
# df.to_pickle('data/train_v1_full_data_split.pkl')
# df.to_csv('data/train_v1_full_data_split.csv')

# Initial Exploration - Determine the Value Counts of each Column
To get a better grasp of the data that we have, look at value counts of each column.  Some will have lots of different values (like fullVisitorId, which will be unique to every individual).  Others will have binary info.

Cycle through and print the top 10 value_counts for each column.

In [25]:
#iterate through every single column in the dataset (that is not a dictionary, can't do value_counts on a dictionary)
for column in df.columns:

    #print out the name of the column you are processing in this for loop
    print('\n----------------------------------------\nCOLUMN: ', column)
    
    #if column has dictionaries, it can't do value_counts so flag this in output
    if type(df[column][0]) == dict:
        print('column contains dictionaries')
        print('example dictionary from 0th row: \n', df[column][0])
    
    else:
        #print out the length of the value_counts for the column
        print('# of Unique Values in Column: ', len(df[column].value_counts()))

        #print out the top ten value_counts for the column
        #normalize=True provides relative frequency of the value (instead of just count), so 0.473 is 47.3%
        print('Top 10 Value Counts for Column: \n', df[column].value_counts(normalize=True).head(10))

----------------------------------------
COLUMN:  channelGrouping
# of Unique Values in Column:  7
Top 10 Value Counts for Column:
 Organic Search    0.4730
Social            0.1851
Direct            0.1645
Referral          0.1190
Paid Search       0.0314
Affiliates        0.0201
Display           0.0069
Name: channelGrouping, dtype: float64

----------------------------------------
COLUMN:  date
# of Unique Values in Column:  5
Top 10 Value Counts for Column:
 20160902    0.2613
20170126    0.2209
20170623    0.2095
20170312    0.1781
20170203    0.1302
Name: date, dtype: float64

----------------------------------------
COLUMN:  fullVisitorId
# of Unique Values in Column:  9251
Top 10 Value Counts for Column:
 384990845055862114     0.0007
9127817804140120297    0.0007
7560731149412661485    0.0006
3525537916960843419    0.0005
1301232867629805291    0.0005
4127918227876727095    0.0005
1957458976293878100    0.0005
6693884468685098722    0.0005
2994779313411060498    0.0005
8507202977688501909    0.0004
Name: fullVisitorId, dtype: float64

----------------------------------------
COLUMN:  sessionId
# of Unique Values in Column:  10000
Top 10 Value Counts for Column:
 7374250677938318061_1486189796    0.0001
5442627547616792821_1498240163    0.0001
9335086149464128184_1485421258    0.0001
4899459839449572245_1472851957    0.0001
4813822564387725024_1486151467    0.0001
8744897619448167360_1498241512    0.0001
4145304730662032132_1489342504    0.0001
2864451773229140012_1485425932    0.0001
9220747477042639132_1472800520    0.0001
8724451903238408158_1485451126    0.0001
Name: sessionId, dtype: float64

----------------------------------------
COLUMN:  socialEngagementType
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 Not Socially Engaged    1.0
Name: socialEngagementType, dtype: float64

----------------------------------------
COLUMN:  visitId
# of Unique Values in Column:  9835
Top 10 Value Counts for Column:
 1486155458    0.0003
1472807268    0.0003
1486155454    0.0003
1472821938    0.0003
1485454159    0.0003
1472827864    0.0002
1489361190    0.0002
1472864724    0.0002
1498271310    0.0002
1485444762    0.0002
Name: visitId, dtype: float64

----------------------------------------
COLUMN:  visitNumber
# of Unique Values in Column:  74
Top 10 Value Counts for Column:
 1     0.7701
2     0.1061
3     0.0431
4     0.0225
5     0.0127
6     0.0084
7     0.0055
8     0.0046
9     0.0034
10    0.0029
Name: visitNumber, dtype: float64

----------------------------------------
COLUMN:  visitStartTime
# of Unique Values in Column:  9834
Top 10 Value Counts for Column:
 1472821938    0.0003
1486155454    0.0003
1486155458    0.0003
1485454159    0.0003
1472807268    0.0003
1472869683    0.0002
1498215699    0.0002
1485491300    0.0002
1485448809    0.0002
1498239807    0.0002
Name: visitStartTime, dtype: float64

----------------------------------------
COLUMN:  device_operatingSystemVersion
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_operatingSystemVersion, dtype: float64

----------------------------------------
COLUMN:  device_operatingSystem
# of Unique Values in Column:  13
Top 10 Value Counts for Column:
 Windows          0.3977
Macintosh        0.2408
Android          0.1484
iOS              0.1323
Linux            0.0433
Chrome OS        0.0300
(not set)        0.0048
Windows Phone    0.0017
BlackBerry       0.0004
Samsung          0.0003
Name: device_operatingSystem, dtype: float64

----------------------------------------
COLUMN:  device_deviceCategory
# of Unique Values in Column:  3
Top 10 Value Counts for Column:
 desktop    0.7115
mobile     0.2518
tablet     0.0367
Name: device_deviceCategory, dtype: float64

----------------------------------------
COLUMN:  device_browser
# of Unique Values in Column:  22
Top 10 Value Counts for Column:
 Chrome               0.6917
Safari               0.1813
Firefox              0.0464
Internet Explorer    0.0253
Edge                 0.0134
Android Webview      0.0112
Opera                0.0090
Opera Mini           0.0078
Safari (in-app)      0.0053
YaBrowser            0.0023
Name: device_browser, dtype: float64

----------------------------------------
COLUMN:  device_mobileDeviceBranding
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_mobileDeviceBranding, dtype: float64

----------------------------------------
COLUMN:  device_flashVersion
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_flashVersion, dtype: float64

----------------------------------------
COLUMN:  device_isMobile
# of Unique Values in Column:  2
Top 10 Value Counts for Column:
 false    0.7114
true     0.2886
Name: device_isMobile, dtype: float64

----------------------------------------
COLUMN:  device_mobileDeviceMarketingName
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_mobileDeviceMarketingName, dtype: float64

----------------------------------------
COLUMN:  device_screenColors
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_screenColors, dtype: float64

----------------------------------------
COLUMN:  device_mobileDeviceInfo
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_mobileDeviceInfo, dtype: float64

----------------------------------------
COLUMN:  device_screenResolution
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_screenResolution, dtype: float64

----------------------------------------
COLUMN:  device_mobileDeviceModel
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_mobileDeviceModel, dtype: float64

----------------------------------------
COLUMN:  device_language
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_language, dtype: float64

----------------------------------------
COLUMN:  device_mobileInputSelector
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_mobileInputSelector, dtype: float64

----------------------------------------
COLUMN:  device_browserVersion
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_browserVersion, dtype: float64

----------------------------------------
COLUMN:  device_browserSize
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_browserSize, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_region
# of Unique Values in Column:  81
Top 10 Value Counts for Column:
 not available in demo dataset    0.5941
California                       0.1256
(not set)                        0.0314
New York                         0.0274
England                          0.0122
Illinois                         0.0105
Texas                            0.0085
Washington                       0.0080
Istanbul                         0.0074
Ontario                          0.0072
Name: geoNetwork_region, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_cityId
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: geoNetwork_cityId, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_subContinent
# of Unique Values in Column:  21
Top 10 Value Counts for Column:
 Northern America    0.4582
Western Europe      0.0729
Northern Europe     0.0631
Southern Asia       0.0624
Eastern Europe      0.0604
Southeast Asia      0.0540
Eastern Asia        0.0484
South America       0.0442
Southern Europe     0.0411
Western Asia        0.0388
Name: geoNetwork_subContinent, dtype: float64

----------------------------------------

COLUMN:  geoNetwork_metro
# of Unique Values in Column:  22
Top 10 Value Counts for Column:
 not available in demo dataset        0.5941
(not set)                            0.1865
San Francisco-Oakland-San Jose CA    0.1103
New York NY                          0.0274
Los Angeles CA                       0.0134
London                               0.0122
Chicago IL                           0.0105
Seattle-Tacoma WA                    0.0080
Columbus OH                          0.0069
Atlanta GA                           0.0039
Name: geoNetwork_metro, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_networkLocation
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: geoNetwork_networkLocation, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_continent
# of Unique Values in Column:  6
Top 10 Value Counts for Column:
 Americas     0.5235
Europe       0.2375
Asia         0.2045
Oceania      0.0176
Africa       0.0156
(not set)    0.0013
Name: geoNetwork_continent, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_longitude
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: geoNetwork_longitude, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_country
# of Unique Values in Column:  138
Top 10 Value Counts for Column:
 United States     0.4274
India             0.0531
United Kingdom    0.0405
Canada            0.0307
Germany           0.0274
Japan             0.0229
Turkey            0.0212
France            0.0210
Brazil            0.0180
Czechia           0.0158
Name: geoNetwork_country, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_networkDomain
# of Unique Values in Column:  1508
Top 10 Value Counts for Column:
 (not set)              0.2732
unknown.unknown        0.1481
comcast.net            0.0321
rr.com                 0.0178
verizon.net            0.0158
ttnet.com.tr           0.0128
comcastbusiness.net    0.0113
amazonaws.com          0.0106
google.com             0.0082
virginm.net            0.0082
Name: geoNetwork_networkDomain, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_city
# of Unique Values in Column:  109
Top 10 Value Counts for Column:
 not available in demo dataset    0.5941
Mountain View                    0.0493
(not set)                        0.0311
New York                         0.0274
San Francisco                    0.0226
Sunnyvale                        0.0125
London                           0.0122
Los Angeles                      0.0121
San Jose                         0.0110
Istanbul                         0.0074
Name: geoNetwork_city, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_latitude
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: geoNetwork_latitude, dtype: float64

----------------------------------------
COLUMN:  totals_visits
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 1    1.0
Name: totals_visits, dtype: float64

----------------------------------------
COLUMN:  totals_newVisits
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 1    1.0
Name: totals_newVisits, dtype: float64

----------------------------------------
COLUMN:  totals_hits
# of Unique Values in Column:  85
Top 10 Value Counts for Column:
 1     0.5260
2     0.1381
3     0.0866
4     0.0429
5     0.0300
6     0.0245
7     0.0198
8     0.0167
10    0.0124
9     0.0124
Name: totals_hits, dtype: float64

----------------------------------------
COLUMN:  totals_bounces
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 1    1.0
Name: totals_bounces, dtype: float64

----------------------------------------
COLUMN:  totals_pageviews
# of Unique Values in Column:  68
Top 10 Value Counts for Column:
 1     0.5339
2     0.1437
3     0.0879
4     0.0450
5     0.0342
6     0.0248
7     0.0184
8     0.0161
9     0.0144
10    0.0118
Name: totals_pageviews, dtype: float64

----------------------------------------
COLUMN:  totals_transactionRevenue
# of Unique Values in Column:  86
Top 10 Value Counts for Column:
 10990000     0.021978
44790000     0.021978
13590000     0.021978
30390000     0.021978
25000000     0.021978
95970000     0.010989
10590000     0.010989
593910000    0.010989
74590000     0.010989
37860000     0.010989
Name: totals_transactionRevenue, dtype: float64

----------------------------------------
COLUMN:  trafficSource_campaign
# of Unique Values in Column:  8
Top 10 Value Counts for Column:
 (not set)                                          0.9539
Data Share Promo                                   0.0201
AW - Dynamic Search Ads Whole Site                 0.0160
AW - Accessories                                   0.0087
test-liyuhz                                        0.0009
AW - Apparel                                       0.0002
AW - Electronics                                   0.0001
Retail (DO NOT EDIT owners nophakun and tianyu)    0.0001
Name: trafficSource_campaign, dtype: float64

----------------------------------------
COLUMN:  trafficSource_medium
# of Unique Values in Column:  6
Top 10 Value Counts for Column:
 organic      0.4730
referral     0.3041
(none)       0.1645
cpc          0.0314
affiliate    0.0201
cpm          0.0069
Name: trafficSource_medium, dtype: float64

----------------------------------------
COLUMN:  trafficSource_referralPath
# of Unique Values in Column:  193
Top 10 Value Counts for Column:
 /                    0.271292
/yt/about/           0.199605
/analytics/web/      0.045380
/yt/about/es-419/    0.040118
/yt/about/tr/        0.039461
/yt/about/ru/        0.031897
/yt/about/pt-BR/     0.026307
/yt/about/es/        0.024992
/yt/about/en-GB/     0.024334
/yt/about/fr/        0.017757
Name: trafficSource_referralPath, dtype: float64

----------------------------------------
COLUMN:  trafficSource_isTrueDirect
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 true    1.0
Name: trafficSource_isTrueDirect, dtype: float64

----------------------------------------
COLUMN:  trafficSource_adContent
# of Unique Values in Column:  17
Top 10 Value Counts for Column:
 Google Merchandise Collection       0.463576
Full auto ad IMAGE ONLY             0.105960
Ad from 12/13/16                    0.099338
Google Online Store                 0.066225
Display Ad created 3/11/15          0.059603
Display Ad created 3/11/14          0.059603
Ad from 11/3/16                     0.033113
First Full Auto Template Test Ad    0.019868
{KeyWord:Want Google Stickers?}     0.019868
Ad from 11/7/16                     0.019868
Name: trafficSource_adContent, dtype: float64

----------------------------------------
COLUMN:  trafficSource_source
# of Unique Values in Column:  67
Top 10 Value Counts for Column:
 google                  0.4991
youtube.com             0.1754
(direct)                0.1645
mall.googleplex.com     0.0767
Partners                0.0201
analytics.google.com    0.0156
dfa                     0.0064
google.com              0.0062
sites.google.com        0.0036
qiita.com               0.0028
Name: trafficSource_source, dtype: float64

----------------------------------------
COLUMN:  trafficSource_keyword
# of Unique Values in Column:  132
Top 10 Value Counts for Column:
 (not provided)                     0.913869
6qEhsCssdK0z36ri                   0.026179
(Remarketing/Content targeting)    0.007394
google merchandise store           0.004996
1hZbAqLCbjwfgOH7                   0.004796
Google Merchandise                 0.003397
(automatic matching)               0.001599
(content targeting)                0.001599
google store                       0.001399
+google +merchandise +store        0.001399
Name: trafficSource_keyword, dtype: float64

----------------------------------------
COLUMN:  trafficSource_adwordsClickInfo
column contains dictionaries
example dictionary from 0th row:
 {'criteriaParameters': 'not available in demo dataset'}

#### Look more closely at fullVisitorID
##### (this is the id we need to assign final revenue to)

In [178]:
#for fullVisitorID check out actual value counts (instead of percentage) - this is the id we need to assign final revenue to
print('\n----------------------------------------\nCOLUMN: ', 'fullVisitorId', '\n')

print('# of Unique Visitors: ', len(df['fullVisitorId'].value_counts()), '\n')

print('# of Unique Visitors Tracked More than Once: ', len(df['fullVisitorId'].value_counts()[df['fullVisitorId'].value_counts()>1]), '\n')

print('Top 10 Visitors/Counts: \n', df['fullVisitorId'].value_counts().head(10), '\n')

print('Last 5 Visitors/Counts: \n', df['fullVisitorId'].value_counts().tail(5))

----------------------------------------
COLUMN:  fullVisitorId

# of Unique Visitors:  9251

# of Unique Visitors Tracked More than Once:  609

Top 10 Visitors/Counts:
 384990845055862114     7
9127817804140120297    7
7560731149412661485    6
3525537916960843419    5
1301232867629805291    5
4127918227876727095    5
1957458976293878100    5
6693884468685098722    5
2994779313411060498    5
8507202977688501909    4
Name: fullVisitorId, dtype: int64

Last 5 Visitors/Counts:
 1715754924747762270    1
4879078049194301640    1
7269187277725036941    1
0580786618955798041    1
6722858859530306006    1
Name: fullVisitorId, dtype: int64