# Data Engineering of the Google Store Analytics Dataset
This dataset is provided by the Kaggle competition.  
https://www.kaggle.com/c/ga-customer-revenue-prediction

A lot of columns have data in json format, which need to be split out into separate columns of data.

Also, want to add some further data based on the data/time of day.

In [6]:
import pandas as pd
import numpy as np

from datetime import datetime

### Import a Sample of the Training Dataset
Instead of working on the full training dataset, which has 903,653 rows, start by working on the top 10,000 rows of the full training dataset.

In [7]:
df = pd.read_csv('data/train.csv', low_memory=False) #full training dataset

# df = pd.read_pickle('data/train_sample.pkl') #top 10,000 rows of the training dataset
print(df.shape)
print(df.columns)
df.head(3)

(903653, 12)
Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime'],
      dtype='object')

,channelGrouping,date,device,fullVisitorId,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime
0,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",1131660440785968503,"{""continent"": ""Asia"", ""subContinent"": ""Western...",1131660440785968503_1472830385,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472830385,1,1472830385
1,Organic Search,20160902,"{""browser"": ""Firefox"", ""browserVersion"": ""not ...",377306020877927890,"{""continent"": ""Oceania"", ""subContinent"": ""Aust...",377306020877927890_1472880147,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472880147,1,1472880147
2,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",3895546263509774583,"{""continent"": ""Europe"", ""subContinent"": ""South...",3895546263509774583_1472865386,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472865386,1,1472865386

### Split out All Columns that Have JSON/Dictionary Info into Individual Columns
Some of the colums in the dataset have json/dictionary info - in order to be able to graph data/break out the variables, we want to separate each of this info to separate columns where each key of the dictionary is its own column data.

The columns that need to be split out are:
['device', 'geoNetwork', 'totals', 'trafficSource']

In [8]:
#print out shape of dataframe and names of all columns of the dataframe to see what columns are getting added as iterate through
print('original df shape: ', df.shape)
print('original df columns: ', df.columns)

#iterate through each of the column names that have to be split out into indiviual columns
for column in ['device', 'geoNetwork', 'totals', 'trafficSource']:

    #print out the name of the column you are processing in this for loop
    print('\n----------------------------------------\nsplitting out column: ', column)

    
    #some of the dictionaries have values of false/true instead of 'false'/'true'; python can't read the false/true
    #because is expecting False/True - instead of creating these boolean names, just convert them to text string
    #of 'false'/'true' before evaluating to dictionary
    df[column] = df[column].map(lambda x: x.replace("false", "'false'"))
    df[column] = df[column].map(lambda x: x.replace("true", "'true'"))
  

    #the JSON/dictionary columns are imported as string types - need to convert to python dictionaries using eval
    df[column] = df[column].map(lambda x: eval(x))

    
    #figure out all the possible unique keys for the dictionaries in this column - need this to make sure we
    #iterate through all of the dictionary data and store into different columns
    unique_column_keys = set()
    #iterate through each row of the column dictionaries
    for row_dictionary in list(df[column]):
        #iterate through each key of the row's dictionary and add to the unique column keys set (use add instead of append for sets)
        for row_key in list(row_dictionary.keys()):
            unique_column_keys.add(row_key)
    print('max length of column dictionaries is: ', len(unique_column_keys))
    print('unique column keys are: ', unique_column_keys)

    
    #use the set of unique_column_keys to add a new column for each of these keys
    for column_key in unique_column_keys:
        #create new column names of format:  originalcolumnname_columnkey, eg 'device_isMobile'
        df[f"{column}_{column_key}"] = df[column].map(lambda x: x.get(column_key, np.nan))
    
    print('updated df shape: ', df.shape)
    print('updated df columns: ', df.columns, '\n')

    
#show the final df head
df.head(3)

original df shape:  (903653, 12)
original df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime'],
      dtype='object')

----------------------------------------
splitting out column:  device
max length of column dictionaries is:  16
unique column keys are:  {'browserSize', 'operatingSystem', 'screenResolution', 'browser', 'browserVersion', 'flashVersion', 'mobileDeviceBranding', 'operatingSystemVersion', 'mobileDeviceModel', 'language', 'mobileDeviceInfo', 'screenColors', 'isMobile', 'mobileInputSelector', 'mobileDeviceMarketingName', 'deviceCategory'}
updated df shape:  (903653, 28)
updated df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime', 'device_browserSize',
       'device_operatingSystem', 'device_screenResolution', 'device_browser',
       'device_browserVersion', 'device_flashVersion',
       'device_mobileDeviceBranding', 'device_operatingSystemVersion',
       'device_mobileDeviceModel', 'device_language',
       'device_mobileDeviceInfo', 'device_screenColors', 'device_isMobile',
       'device_mobileInputSelector', 'device_mobileDeviceMarketingName',
       'device_deviceCategory'],
      dtype='object')


----------------------------------------
splitting out column:  geoNetwork
max length of column dictionaries is:  11
unique column keys are:  {'networkLocation', 'longitude', 'subContinent', 'city', 'metro', 'country', 'continent', 'latitude', 'networkDomain', 'region', 'cityId'}
updated df shape:  (903653, 39)
updated df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime', 'device_browserSize',
       'device_operatingSystem', 'device_screenResolution', 'device_browser',
       'device_browserVersion', 'device_flashVersion',
       'device_mobileDeviceBranding', 'device_operatingSystemVersion',
       'device_mobileDeviceModel', 'device_language',
       'device_mobileDeviceInfo', 'device_screenColors', 'device_isMobile',
       'device_mobileInputSelector', 'device_mobileDeviceMarketingName',
       'device_deviceCategory', 'geoNetwork_networkLocation',
       'geoNetwork_longitude', 'geoNetwork_subContinent', 'geoNetwork_city',
       'geoNetwork_metro', 'geoNetwork_country', 'geoNetwork_continent',
       'geoNetwork_latitude', 'geoNetwork_networkDomain', 'geoNetwork_region',
       'geoNetwork_cityId'],
      dtype='object')


----------------------------------------
splitting out column:  totals
max length of column dictionaries is:  6
unique column keys are:  {'transactionRevenue', 'newVisits', 'pageviews', 'visits', 'bounces', 'hits'}
updated df shape:  (903653, 45)
updated df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime', 'device_browserSize',
       'device_operatingSystem', 'device_screenResolution', 'device_browser',
       'device_browserVersion', 'device_flashVersion',
       'device_mobileDeviceBranding', 'device_operatingSystemVersion',
       'device_mobileDeviceModel', 'device_language',
       'device_mobileDeviceInfo', 'device_screenColors', 'device_isMobile',
       'device_mobileInputSelector', 'device_mobileDeviceMarketingName',
       'device_deviceCategory', 'geoNetwork_networkLocation',
       'geoNetwork_longitude', 'geoNetwork_subContinent', 'geoNetwork_city',
       'geoNetwork_metro', 'geoNetwork_country', 'geoNetwork_continent',
       'geoNetwork_latitude', 'geoNetwork_networkDomain', 'geoNetwork_region',
       'geoNetwork_cityId', 'totals_transactionRevenue', 'totals_newVisits',
       'totals_pageviews', 'totals_visits', 'totals_bounces', 'totals_hits'],
      dtype='object')


----------------------------------------
splitting out column:  trafficSource
max length of column dictionaries is:  9
unique column keys are:  {'campaign', 'referralPath', 'campaignCode', 'adwordsClickInfo', 'keyword', 'medium', 'isTrueDirect', 'adContent', 'source'}
updated df shape:  (903653, 54)
updated df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime', 'device_browserSize',
       'device_operatingSystem', 'device_screenResolution', 'device_browser',
       'device_browserVersion', 'device_flashVersion',
       'device_mobileDeviceBranding', 'device_operatingSystemVersion',
       'device_mobileDeviceModel', 'device_language',
       'device_mobileDeviceInfo', 'device_screenColors', 'device_isMobile',
       'device_mobileInputSelector', 'device_mobileDeviceMarketingName',
       'device_deviceCategory', 'geoNetwork_networkLocation',
       'geoNetwork_longitude', 'geoNetwork_subContinent', 'geoNetwork_city',
       'geoNetwork_metro', 'geoNetwork_country', 'geoNetwork_continent',
       'geoNetwork_latitude', 'geoNetwork_networkDomain', 'geoNetwork_region',
       'geoNetwork_cityId', 'totals_transactionRevenue', 'totals_newVisits',
       'totals_pageviews', 'totals_visits', 'totals_bounces', 'totals_hits',
       'trafficSource_campaign', 'trafficSource_referralPath',
       'trafficSource_campaignCode', 'trafficSource_adwordsClickInfo',
       'trafficSource_keyword', 'trafficSource_medium',
       'trafficSource_isTrueDirect', 'trafficSource_adContent',
       'trafficSource_source'],
      dtype='object')

,channelGrouping,date,device,fullVisitorId,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,...,totals_hits,trafficSource_campaign,trafficSource_referralPath,trafficSource_campaignCode,trafficSource_adwordsClickInfo,trafficSource_keyword,trafficSource_medium,trafficSource_isTrueDirect,trafficSource_adContent,trafficSource_source
0,Organic Search,20160902,"{'browser': 'Chrome', 'browserVersion': 'not a...",1131660440785968503,"{'continent': 'Asia', 'subContinent': 'Western...",1131660440785968503_1472830385,Not Socially Engaged,"{'visits': '1', 'hits': '1', 'pageviews': '1',...","{'campaign': '(not set)', 'source': 'google', ...",1472830385,...,1,(not set),NaN,NaN,{'criteriaParameters': 'not available in demo ...,(not provided),organic,NaN,NaN,google
1,Organic Search,20160902,"{'browser': 'Firefox', 'browserVersion': 'not ...",377306020877927890,"{'continent': 'Oceania', 'subContinent': 'Aust...",377306020877927890_1472880147,Not Socially Engaged,"{'visits': '1', 'hits': '1', 'pageviews': '1',...","{'campaign': '(not set)', 'source': 'google', ...",1472880147,...,1,(not set),NaN,NaN,{'criteriaParameters': 'not available in demo ...,(not provided),organic,NaN,NaN,google
2,Organic Search,20160902,"{'browser': 'Chrome', 'browserVersion': 'not a...",3895546263509774583,"{'continent': 'Europe', 'subContinent': 'South...",3895546263509774583_1472865386,Not Socially Engaged,"{'visits': '1', 'hits': '1', 'pageviews': '1',...","{'campaign': '(not set)', 'source': 'google', ...",1472865386,...,1,(not set),NaN,NaN,{'criteriaParameters': 'not available in demo ...,(not provided),organic,NaN,NaN,google

### Exploration - Determine the Value Counts of each Column
To get a better grasp of the data that we have, look at value counts of each column.  Some will have lots of different values (like fullVisitorId, which will be unique to every individual).  Others will have binary info.

Cycle through and print the top 10 value_counts for each column.

In [9]:
#iterate through every single column in the dataset (that is not a dictionary, can't do value_counts on a dictionary)
for column in df.columns:

    #print out the name of the column you are processing in this for loop
    print('\n----------------------------------------\nCOLUMN: ', column)
    
    #if column has dictionaries, it can't do value_counts so flag this in output
    if type(df[column][0]) == dict:
        print('column contains dictionaries')
        print('example dictionary from 0th row: \n', df[column][0])
    
    else:
        #print out the length of the value_counts for the column
        print('# of Unique Values in Column: ', len(df[column].value_counts()))

        #print out the top ten value_counts for the column
        #normalize=True provides relative frequency of the value (instead of just count), so 0.473 is 47.3%
        print('Top 10 Value Counts for Column: \n', df[column].value_counts(normalize=True).head(10))

----------------------------------------
COLUMN:  channelGrouping
# of Unique Values in Column:  8
Top 10 Value Counts for Column:
 Organic Search    0.422243
Social            0.250225
Direct            0.158275
Referral          0.116016
Paid Search       0.028026
Affiliates        0.018152
Display           0.006930
(Other)           0.000133
Name: channelGrouping, dtype: float64

----------------------------------------
COLUMN:  date
# of Unique Values in Column:  366
Top 10 Value Counts for Column:
 20161128    0.005320
20161115    0.005185
20161114    0.004942
20161130    0.004908
20161026    0.004841
20161129    0.004799
20161116    0.004796
20161004    0.004783
20161205    0.004720
20170426    0.004674
Name: date, dtype: float64

----------------------------------------
COLUMN:  device
column contains dictionaries
example dictionary from 0th row:
 {'browser': 'Chrome', 'browserVersion': 'not available in demo dataset', 'browserSize': 'not available in demo dataset', 'operatingSystem': 'Windows', 'operatingSystemVersion': 'not available in demo dataset', 'isMobile': 'false', 'mobileDeviceBranding': 'not available in demo dataset', 'mobileDeviceModel': 'not available in demo dataset', 'mobileInputSelector': 'not available in demo dataset', 'mobileDeviceInfo': 'not available in demo dataset', 'mobileDeviceMarketingName': 'not available in demo dataset', 'flashVersion': 'not available in demo dataset', 'language': 'not available in demo dataset', 'screenColors': 'not available in demo dataset', 'screenResolution': 'not available in demo dataset', 'deviceCategory': 'desktop'}

----------------------------------------
COLUMN:  fullVisitorId
# of Unique Values in Column:  714167
Top 10 Value Counts for Column:
 1957458976293878100    0.000308
0824839726118485274    0.000282
3608475193341679870    0.000222
1856749147915772585    0.000220
3269834865385146569    0.000172
0720311197761340948    0.000169
7634897085866546110    0.000164
4038076683036146727    0.000153
0232377434237234751    0.000149
3694234028523165868    0.000143
Name: fullVisitorId, dtype: float64

----------------------------------------
COLUMN:  geoNetwork
column contains dictionaries
example dictionary from 0th row:
 {'continent': 'Asia', 'subContinent': 'Western Asia', 'country': 'Turkey', 'region': 'Izmir', 'metro': '(not set)', 'city': 'Izmir', 'cityId': 'not available in demo dataset', 'networkDomain': 'ttnet.com.tr', 'latitude': 'not available in demo dataset', 'longitude': 'not available in demo dataset', 'networkLocation': 'not available in demo dataset'}

----------------------------------------
COLUMN:  sessionId
# of Unique Values in Column:  902755
Top 10 Value Counts for Column:
 6811491483369060394_1483602628    0.000002
3574020112539328304_1494399508    0.000002
791468643965564467_1491202713     0.000002
8578907758685823541_1492757496    0.000002
5417385805796482377_1494572326    0.000002
6655979485478527103_1477465197    0.000002
399067983618452123_1485244521     0.000002
8449557708121140199_1499410572    0.000002
4241406929192959582_1474527475    0.000002
4151356374197369652_1498632955    0.000002
Name: sessionId, dtype: float64

----------------------------------------
COLUMN:  socialEngagementType
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 Not Socially Engaged    1.0
Name: socialEngagementType, dtype: float64

----------------------------------------
COLUMN:  totals
column contains dictionaries
example dictionary from 0th row:
 {'visits': '1', 'hits': '1', 'pageviews': '1', 'bounces': '1', 'newVisits': '1'}

----------------------------------------
COLUMN:  trafficSource
column contains dictionaries
example dictionary from 0th row:
 {'campaign': '(not set)', 'source': 'google', 'medium': 'organic', 'keyword': '(not provided)', 'adwordsClickInfo': {'criteriaParameters': 'not available in demo dataset'}}

----------------------------------------
COLUMN:  visitId
# of Unique Values in Column:  886303
Top 10 Value Counts for Column:
 1493146175    0.000009
1484649802    0.000007
1478345904    0.000007
1481369525    0.000007
1494374199    0.000006
1500856602    0.000006
1495031359    0.000006
1475719086    0.000004
1484649800    0.000004
1481874207    0.000004
Name: visitId, dtype: float64

----------------------------------------
COLUMN:  visitNumber
# of Unique Values in Column:  384
Top 10 Value Counts for Column:
 1     0.778020
2     0.102415
3     0.039665
4     0.021200
5     0.012853
6     0.008496
7     0.005990
8     0.004461
9     0.003413
10    0.002672
Name: visitNumber, dtype: float64

----------------------------------------
COLUMN:  visitStartTime
# of Unique Values in Column:  887159
Top 10 Value Counts for Column:
 1493146175    0.000009
1478345904    0.000007
1484649802    0.000007
1481369525    0.000007
1494374199    0.000006
1500856602    0.000006
1495031359    0.000006
1488190236    0.000004
1477470782    0.000004
1478942540    0.000004
Name: visitStartTime, dtype: float64

----------------------------------------
COLUMN:  device_browserSize
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_browserSize, dtype: float64

----------------------------------------
COLUMN:  device_operatingSystem
# of Unique Values in Column:  20
Top 10 Value Counts for Column:
 Windows          0.387396
Macintosh        0.281013
Android          0.137101
iOS              0.119144
Linux            0.038769
Chrome OS        0.029145
(not set)        0.005196
Windows Phone    0.001346
Samsung          0.000310
BlackBerry       0.000241
Name: device_operatingSystem, dtype: float64

----------------------------------------
COLUMN:  device_screenResolution
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_screenResolution, dtype: float64

----------------------------------------
COLUMN:  device_browser
# of Unique Values in Column:  54
Top 10 Value Counts for Column:
 Chrome               0.686507
Safari               0.201676
Firefox              0.041021
Internet Explorer    0.021441
Edge                 0.011293
Android Webview      0.008704
Safari (in-app)      0.007580
Opera Mini           0.006794
Opera                0.006245
UC Browser           0.002686
Name: device_browser, dtype: float64

----------------------------------------
COLUMN:  device_browserVersion
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_browserVersion, dtype: float64

----------------------------------------
COLUMN:  device_flashVersion
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_flashVersion, dtype: float64

----------------------------------------
COLUMN:  device_mobileDeviceBranding
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_mobileDeviceBranding, dtype: float64

----------------------------------------
COLUMN:  device_operatingSystemVersion
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_operatingSystemVersion, dtype: float64

----------------------------------------
COLUMN:  device_mobileDeviceModel
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_mobileDeviceModel, dtype: float64

----------------------------------------
COLUMN:  device_language
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_language, dtype: float64

----------------------------------------
COLUMN:  device_mobileDeviceInfo
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_mobileDeviceInfo, dtype: float64

----------------------------------------
COLUMN:  device_screenColors
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_screenColors, dtype: float64

----------------------------------------
COLUMN:  device_isMobile
# of Unique Values in Column:  2
Top 10 Value Counts for Column:
 false    0.735382
true     0.264618
Name: device_isMobile, dtype: float64

----------------------------------------
COLUMN:  device_mobileInputSelector
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_mobileInputSelector, dtype: float64

----------------------------------------
COLUMN:  device_mobileDeviceMarketingName

# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: device_mobileDeviceMarketingName, dtype: float64

----------------------------------------
COLUMN:  device_deviceCategory
# of Unique Values in Column:  3
Top 10 Value Counts for Column:
 desktop    0.735325
mobile     0.230979
tablet     0.033695
Name: device_deviceCategory, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_networkLocation
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: geoNetwork_networkLocation, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_longitude
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: geoNetwork_longitude, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_subContinent
# of Unique Values in Column:  23
Top 10 Value Counts for Column:
 Northern America    0.432309
Southeast Asia      0.086095
Southern Asia       0.065646
Western Europe      0.065417
Northern Europe     0.064370
Eastern Asia        0.051921
Eastern Europe      0.050073
South America       0.046180
Western Asia        0.042542
Southern Europe     0.039595
Name: geoNetwork_subContinent, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_city
# of Unique Values in Column:  649
Top 10 Value Counts for Column:
 not available in demo dataset    0.562416
Mountain View                    0.045243
(not set)                        0.037915
New York                         0.029183
San Francisco                    0.022496
Sunnyvale                        0.014481
London                           0.013951
San Jose                         0.011393
Los Angeles                      0.009594
Bangkok                          0.008531
Name: geoNetwork_city, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_metro
# of Unique Values in Column:  94
Top 10 Value Counts for Column:
 not available in demo dataset        0.562416
(not set)                            0.223278
San Francisco-Oakland-San Jose CA    0.106139
New York NY                          0.029787
London                               0.013911
Los Angeles CA                       0.011061
Seattle-Tacoma WA                    0.008457
Chicago IL                           0.008394
Austin TX                            0.004194
Washington DC (Hagerstown MD)        0.003740
Name: geoNetwork_metro, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_country
# of Unique Values in Column:  222
Top 10 Value Counts for Column:
 United States     0.403633
India             0.056593
United Kingdom    0.041380
Canada            0.028627
Vietnam           0.027221
Turkey            0.022710
Thailand          0.022269
Germany           0.022110
Brazil            0.021892
Japan             0.021835
Name: geoNetwork_country, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_continent
# of Unique Values in Column:  6
Top 10 Value Counts for Column:
 Americas     0.498396
Asia         0.247549
Europe       0.219455
Oceania      0.016659
Africa       0.016317
(not set)    0.001625
Name: geoNetwork_continent, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_latitude
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: geoNetwork_latitude, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_networkDomain
# of Unique Values in Column:  28064
Top 10 Value Counts for Column:
 (not set)              0.270990
unknown.unknown        0.161604
comcast.net            0.031808
rr.com                 0.016408
verizon.net            0.015091
ttnet.com.tr           0.014638
comcastbusiness.net    0.011050
hinet.net              0.008763
virginm.net            0.007098
3bb.co.th              0.006691
Name: geoNetwork_networkDomain, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_region
# of Unique Values in Column:  376
Top 10 Value Counts for Column:
 not available in demo dataset    0.562416
California                       0.118956
(not set)                        0.030794
New York                         0.029251
England                          0.014605
Texas                            0.009682
Bangkok                          0.008531
Washington                       0.008457
Illinois                         0.008394
Ho Chi Minh                      0.008023
Name: geoNetwork_region, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_cityId
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 not available in demo dataset    1.0
Name: geoNetwork_cityId, dtype: float64

----------------------------------------
COLUMN:  totals_transactionRevenue
# of Unique Values in Column:  5332
Top 10 Value Counts for Column:
 16990000    0.022232
18990000    0.016413
33590000    0.016240
44790000    0.014763
13590000    0.011724
55990000    0.010595
19990000    0.010074
15990000    0.008511
15190000    0.008076
19190000    0.007990
Name: totals_transactionRevenue, dtype: float64

----------------------------------------
COLUMN:  totals_newVisits
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 1    1.0
Name: totals_newVisits, dtype: float64

----------------------------------------
COLUMN:  totals_pageviews
# of Unique Values in Column:  213
Top 10 Value Counts for Column:
 1     0.500825
2     0.159116
3     0.081716
4     0.050016
5     0.036977
6     0.027323
7     0.021555
8     0.016902
9     0.013928
10    0.011183
Name: totals_pageviews, dtype: float64

----------------------------------------
COLUMN:  totals_visits
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 1    1.0
Name: totals_visits, dtype: float64

----------------------------------------
COLUMN:  totals_bounces
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 1    1.0
Name: totals_bounces, dtype: float64

----------------------------------------
COLUMN:  totals_hits
# of Unique Values in Column:  274
Top 10 Value Counts for Column:
 1     0.494387
2     0.152660
3     0.077908
4     0.046969
5     0.034238
6     0.026468
7     0.021599
8     0.017135
9     0.014341
10    0.011774
Name: totals_hits, dtype: float64

----------------------------------------
COLUMN:  trafficSource_campaign
# of Unique Values in Column:  10
Top 10 Value Counts for Column:
 (not set)                                          0.957610
Data Share Promo                                   0.018152
AW - Dynamic Search Ads Whole Site                 0.015763
AW - Accessories                                   0.007824
test-liyuhz                                        0.000434
AW - Electronics                                   0.000106
Retail (DO NOT EDIT owners nophakun and tianyu)    0.000055
AW - Apparel                                       0.000051
All Products                                       0.000004
Data Share                                         0.000001
Name: trafficSource_campaign, dtype: float64

----------------------------------------
COLUMN:  trafficSource_referralPath
# of Unique Values in Column:  1475
Top 10 Value Counts for Column:
 /                    0.228207
/yt/about/           0.214649
/analytics/web/      0.044177
/yt/about/tr/        0.044114
/yt/about/vi/        0.041557
/yt/about/es-419/    0.038481
/yt/about/pt-BR/     0.036269
/yt/about/th/        0.034538
/yt/about/ru/        0.033822
/yt/about/es/        0.021430
Name: trafficSource_referralPath, dtype: float64

----------------------------------------
COLUMN:  trafficSource_campaignCode
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 11251kjhkvahf    1.0
Name: trafficSource_campaignCode, dtype: float64

----------------------------------------
COLUMN:  trafficSource_adwordsClickInfo
column contains dictionaries
example dictionary from 0th row:
 {'criteriaParameters': 'not available in demo dataset'}

----------------------------------------
COLUMN:  trafficSource_keyword
# of Unique Values in Column:  3659
Top 10 Value Counts for Column:
 (not provided)                     0.914253
6qEhsCssdK0z36ri                   0.028706
(Remarketing/Content targeting)    0.005735
1hZbAqLCbjwfgOH7                   0.005650
google merchandise store           0.005513
Google Merchandise                 0.004113
google store                       0.003187
youtube                            0.001417
(User vertical targeting)          0.001220
1X4Me6ZKNV0zg-jV                   0.001165
Name: trafficSource_keyword, dtype: float64

----------------------------------------
COLUMN:  trafficSource_medium

# of Unique Values in Column:  7
Top 10 Value Counts for Column:
 organic      0.422243
referral     0.366241
(none)       0.158275
cpc          0.028026
affiliate    0.018152
cpm          0.006930
(not set)    0.000133
Name: trafficSource_medium, dtype: float64

----------------------------------------
COLUMN:  trafficSource_isTrueDirect
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 true    1.0
Name: trafficSource_isTrueDirect, dtype: float64

----------------------------------------
COLUMN:  trafficSource_adContent
# of Unique Values in Column:  44
Top 10 Value Counts for Column:
 Google Merchandise Collection    0.467933
Google Online Store              0.113740
Display Ad created 3/11/14       0.088343
Full auto ad IMAGE ONLY          0.075096
Ad from 12/13/16                 0.055728
Ad from 11/3/16                  0.044674
Display Ad created 3/11/15       0.035812
{KeyWord:Google Brand Items}     0.022931
{KeyWord:Google Merchandise}     0.014160
Ad from 11/7/16                  0.011237
Name: trafficSource_adContent, dtype: float64

----------------------------------------
COLUMN:  trafficSource_source
# of Unique Values in Column:  380
Top 10 Value Counts for Column:
 google                  0.443520
youtube.com             0.235270
(direct)                0.158278
mall.googleplex.com     0.073497
Partners                0.018161
analytics.google.com    0.017896
dfa                     0.006292
google.com              0.005167
m.facebook.com          0.003724
baidu                   0.003714
Name: trafficSource_source, dtype: float64

### Save Extracted Data to Pickles

In [10]:
# df.to_pickle('data/train_sample_split_v1.pkl')

In [11]:
# df.columns

In [12]:
#drop original columns that had dictionary/jsons
df_dropped = df.drop(['device', 'geoNetwork', 'totals', 'trafficSource'], axis=1)
print(df_dropped.shape)
df_dropped.head(3)

(903653, 50)

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device_browserSize,device_operatingSystem,...,totals_hits,trafficSource_campaign,trafficSource_referralPath,trafficSource_campaignCode,trafficSource_adwordsClickInfo,trafficSource_keyword,trafficSource_medium,trafficSource_isTrueDirect,trafficSource_adContent,trafficSource_source
0,Organic Search,20160902,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,not available in demo dataset,Windows,...,1,(not set),NaN,NaN,{'criteriaParameters': 'not available in demo ...,(not provided),organic,NaN,NaN,google
1,Organic Search,20160902,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,not available in demo dataset,Macintosh,...,1,(not set),NaN,NaN,{'criteriaParameters': 'not available in demo ...,(not provided),organic,NaN,NaN,google
2,Organic Search,20160902,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,not available in demo dataset,Windows,...,1,(not set),NaN,NaN,{'criteriaParameters': 'not available in demo ...,(not provided),organic,NaN,NaN,google

In [6]:
#save the dataframe to pickle (use the df that has dropped the original dict/json columns since it cuts size almost in half)
df_dropped.to_pickle('data/train_full_data_split.pkl')

In [14]:
# #save the dataframe to csv (use the df that has dropped the original dict/json columns since it cuts size almost in half)
# df_dropped.to_csv('data/train_full_data_split.csv')

### Add in Additional Date Info (day of week, holiday, etc.)
1. Start with the date provided, which has just imported as a long int value, for example: 20170126 is 2017-01-26, so yearmonthday format.
2. Convert int value into a datetime value.
3. Then use the datetime value to add a column that defines day of week
4. Also add a column that separates out month of year from date.
5. Lastly, try to add a column to determine whether the date is a holiday or not.

In [8]:
df.date[0]

20160902

In [4]:
df2 = pd.read_pickle('data/train_full_data_split.pkl')

In [5]:
df2.to_csv('test_full.csv')

UnicodeEncodeError: 'utf-8' codec can't encode characters in position 726-727: surrogates not allowed