## Step 1 - Data Engineering

The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.

* Create a Jupyter Notebook file called `data_engineering.ipynb` and use this to complete all of your Data Engineering tasks.

* Use Pandas to read in the measurement and station CSV files as DataFrames.

* Inspect the data for NaNs and missing values. You must decide what to do with this data.

* Save your cleaned CSV files with the prefix `clean_`.

In [1]:
import pandas as pd

In [6]:
df_hawaii_meas = pd.read_csv('raw_data\hawaii_measurements.csv')
df_hawaii_stat = pd.read_csv('raw_data\hawaii_stations.csv')
print(df_hawaii_meas.shape)
print(df_hawaii_stat.shape)

(19550, 4)
(9, 5)

In [13]:
df_hawaii_meas.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [46]:
df_hawaii_stat #9 stations - no missing data in this df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [41]:
df_hawaii_meas.isnull().sum()  #prcp is the only column with Nan values

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [37]:
df_hawaii_meas.sort_values('date')[df_hawaii_meas.prcp.isnull()]

C:\Users\micha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

           station        date  prcp  tobs
4      USC00519397  2010-01-06   NaN    73
9012   USC00518838  2010-01-07   NaN    72
9020   USC00518838  2010-01-18   NaN    70
9023   USC00518838  2010-01-25   NaN    72
26     USC00519397  2010-01-30   NaN    70
9027   USC00518838  2010-02-02   NaN    66
29     USC00519397  2010-02-03   NaN    67
9035   USC00518838  2010-02-12   NaN    64
2765   USC00513117  2010-02-13   NaN    71
9041   USC00518838  2010-02-19   NaN    63
43     USC00519397  2010-02-19   NaN    63
16988  USC00516128  2010-02-22   NaN    62
9044   USC00518838  2010-02-23   NaN    72
15013  USC00511918  2010-02-28   NaN    68
9047   USC00518838  2010-03-01   NaN    67
9049   USC00518838  2010-03-05   NaN    63
5439   USC00514830  2010-03-08   NaN    69
9054   USC00518838  2010-03-11   NaN    68
61     USC00519397  2010-03-11   NaN    73
5446   USC00514830  2010-03-17   NaN    66
9060   USC00518838  2010-03-19   NaN    62
9061   USC00518838  2010-03-21   NaN    61
9062   USC00518838  2010-03-24   NaN    73
72     USC00519397  2010-03-26   NaN    72
9063   USC00518838  2010-03-28   NaN    69
9066   USC00518838  2010-04-02   NaN    65
5463   USC00514830  2010-04-04   NaN    70
9074   USC00518838  2010-04-11   NaN    67
9075   USC00518838  2010-04-13   NaN    70
9077   USC00518838  2010-04-16   NaN    62
...            ...         ...   ...   ...
7586   USC00514830  2017-06-26   NaN    80
7587   USC00514830  2017-06-29   NaN    76
12140  USC00519523  2017-07-02   NaN    80
8990   USC00517948  2017-07-03   NaN    87
7589   USC00514830  2017-07-03   NaN    81
12142  USC00519523  2017-07-05   NaN    80
7590   USC00514830  2017-07-05   NaN    81
8991   USC00517948  2017-07-05   NaN    80
8992   USC00517948  2017-07-06   NaN    79
7591   USC00514830  2017-07-07   NaN    77
8993   USC00517948  2017-07-07   NaN    79
8994   USC00517948  2017-07-10   NaN    78
8995   USC00517948  2017-07-11   NaN    81
8996   USC00517948  2017-07-12   NaN    80
8997   USC00517948  2017-07-13   NaN    81
12160  USC00519523  2017-07-24   NaN    79
9003   USC00517948  2017-07-26   NaN    78
9004   USC00517948  2017-07-27   NaN    79
9006   USC00517948  2017-07-31   NaN    81
7614   USC00514830  2017-07-31   NaN    81
19528  USC00516128  2017-08-01   NaN    72
19531  USC00516128  2017-08-05   NaN    77
19532  USC00516128  2017-08-06   NaN    79
19537  USC00516128  2017-08-11   NaN    72
19539  USC00516128  2017-08-13   NaN    80
7625   USC00514830  2017-08-13   NaN    81
19544  USC00516128  2017-08-18   NaN    76
12183  USC00519523  2017-08-19   NaN    85
19546  USC00516128  2017-08-20   NaN    78
12184  USC00519523  2017-08-21   NaN    82

[1447 rows x 4 columns]

In [39]:
#check if one station that has Nan values maybe doesn't fill in the prcp when there is 0 prcp
df_hawaii_meas.sort_values('date')[df_hawaii_meas.station == 'USC00519397']

C:\Users\micha\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

          station        date  prcp  tobs
0     USC00519397  2010-01-01  0.08    65
1     USC00519397  2010-01-02  0.00    63
2     USC00519397  2010-01-03  0.00    74
3     USC00519397  2010-01-04  0.00    76
4     USC00519397  2010-01-06   NaN    73
5     USC00519397  2010-01-07  0.06    70
6     USC00519397  2010-01-08  0.00    64
7     USC00519397  2010-01-09  0.00    68
8     USC00519397  2010-01-10  0.00    73
9     USC00519397  2010-01-11  0.01    64
10    USC00519397  2010-01-12  0.00    61
11    USC00519397  2010-01-14  0.00    66
12    USC00519397  2010-01-15  0.00    65
13    USC00519397  2010-01-16  0.00    68
14    USC00519397  2010-01-17  0.00    64
15    USC00519397  2010-01-18  0.00    72
16    USC00519397  2010-01-19  0.00    66
17    USC00519397  2010-01-20  0.00    66
18    USC00519397  2010-01-21  0.00    69
19    USC00519397  2010-01-22  0.00    67
20    USC00519397  2010-01-23  0.00    67
21    USC00519397  2010-01-24  0.01    71
22    USC00519397  2010-01-25  0.00    67
23    USC00519397  2010-01-26  0.04    76
24    USC00519397  2010-01-27  0.12    68
25    USC00519397  2010-01-28  0.00    72
26    USC00519397  2010-01-30   NaN    70
27    USC00519397  2010-01-31  0.03    67
28    USC00519397  2010-02-01  0.01    66
29    USC00519397  2010-02-03   NaN    67
...           ...         ...   ...   ...
2694  USC00519397  2017-07-23  0.00    81
2695  USC00519397  2017-07-24  0.05    78
2696  USC00519397  2017-07-25  0.00    80
2697  USC00519397  2017-07-26  0.00    82
2698  USC00519397  2017-07-27  0.00    79
2699  USC00519397  2017-07-28  0.00    81
2700  USC00519397  2017-07-29  0.00    81
2701  USC00519397  2017-07-30  0.00    81
2702  USC00519397  2017-07-31  0.00    80
2703  USC00519397  2017-08-01  0.02    77
2704  USC00519397  2017-08-02  0.00    73
2705  USC00519397  2017-08-03  0.00    79
2706  USC00519397  2017-08-04  0.02    80
2707  USC00519397  2017-08-05  0.00    81
2708  USC00519397  2017-08-06  0.00    80
2709  USC00519397  2017-08-07  0.00    80
2710  USC00519397  2017-08-08  0.00    80
2711  USC00519397  2017-08-09  0.00    80
2712  USC00519397  2017-08-10  0.00    81
2713  USC00519397  2017-08-11  0.00    78
2714  USC00519397  2017-08-12  0.00    80
2715  USC00519397  2017-08-13  0.00    81
2716  USC00519397  2017-08-14  0.00    79
2717  USC00519397  2017-08-15  0.02    78
2718  USC00519397  2017-08-18  0.00    80
2719  USC00519397  2017-08-19  0.00    79
2720  USC00519397  2017-08-20  0.00    81
2721  USC00519397  2017-08-21  0.00    81
2722  USC00519397  2017-08-22  0.00    82
2723  USC00519397  2017-08-23  0.00    81

[2724 rows x 4 columns]

In [44]:
#the Nan values seem random - at station USC00519397 they have 0.00 precip and Nan values, so it doesn't
#automatically just mean zero precip.  with so much other data, just drop the Nan value rows in the measurement
#df (no Nan values in stations)
df_hawaii_meas.dropna(axis=0, inplace=True)
print(df_hawaii_meas.shape)

(18103, 4)

In [45]:
df_hawaii_meas.isnull().sum()  #double check dropped all rows with na

station    0
date       0
prcp       0
tobs       0
dtype: int64

In [50]:
df_hawaii_meas.to_csv('raw_data\clean_hawaii_measurements.csv', index=False)