## Step 2 - Database Engineering

Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need one table for measurements and one for stations.

* Create a Jupyter Notebook called `database_engineering.ipynb` and use this to complete all of your Database Engineering work.

* Use Pandas to read your cleaned measurements and stations CSV data.

* Use the `engine` and connection string to create a database called `hawaii.sqlite`.

* Use `declarative_base` and create ORM classes for each table.

  * You will need a class for `Measurement` and for `Station`.

  * Make sure to define your primary keys.

* Once you have your ORM classes defined, create the tables in the database using `create_all`.

In [4]:
import pandas as pd
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Date, Integer, String, Float

In [7]:
df_hawaii_meas = pd.read_csv('raw_data\clean_hawaii_measurements.csv')
df_hawaii_stat = pd.read_csv('raw_data\hawaii_stations.csv')

In [ ]:
engine = create_engine('sqlite:///hawaii.db')
Base = declarative_base()

class Measurement(Base):
    __tablename__ = 'hawaii_measurements'

    id = Column(Integer, primary_key=True)
    item = Column(String)
    weight = Column(Integer)
    collector = Column(String)
    
    def __repr__(self):
        return "{} collected by {} weighing {}".format(self.item, self.collector, self.weight)
    
Base.metadata.create_all(engine)

In [8]:
df_hawaii_meas.head(2)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63

In [9]:
df_hawaii_stat.head(2)

       station                  name  latitude  longitude  elevation
0  USC00519397  WAIKIKI 717.2, HI US   21.2716  -157.8168        3.0
1  USC00513117  KANEOHE 838.1, HI US   21.4234  -157.8015       14.6