# Data Engineering & <br> Datetime Feature Engineering <br> of the Google Store Analytics Dataset

## Using <u> Full Kaggle Train Dataset </u> - Data Engineering/Feature Engineering - v1
This dataset is provided by the Kaggle competition.  
https://www.kaggle.com/c/ga-customer-revenue-prediction

A lot of columns have data in json format, which need to be split out into separate columns of data.

Also, want to add some further features based on the date/time of day.

In [1]:
import pandas as pd
import numpy as np

from datetime import datetime, timezone, timedelta
# import holidays
import pytz

import requests
import os
gmaps_api_key = os.environ.get('googlemaps_api_key')
timezonedb_api_key = os.environ.get('timezonedb_api_key')

from time import sleep

# Import the Full Kaggle Train Dataset

In [2]:
df = pd.read_csv('data/train.csv', low_memory=False, dtype={'fullVisitorId':str}) #full training dataset

# df = pd.read_pickle('data/train_sample.pkl') #top 10,000 rows of the training dataset
print(df.shape)
print(df.columns)
df.head(3)

(903653, 12)
Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime'],
      dtype='object')

,channelGrouping,date,device,fullVisitorId,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime
0,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",1131660440785968503,"{""continent"": ""Asia"", ""subContinent"": ""Western...",1131660440785968503_1472830385,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472830385,1,1472830385
1,Organic Search,20160902,"{""browser"": ""Firefox"", ""browserVersion"": ""not ...",377306020877927890,"{""continent"": ""Oceania"", ""subContinent"": ""Aust...",377306020877927890_1472880147,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472880147,1,1472880147
2,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",3895546263509774583,"{""continent"": ""Europe"", ""subContinent"": ""South...",3895546263509774583_1472865386,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472865386,1,1472865386

# Data Engineering - Split out All Columns that Have JSON/Dictionary Info into Individual Columns
Some of the colums in the dataset have json/dictionary info - in order to be able to graph data/break out the variables, we want to separate each of this info to separate columns where each key of the dictionary is its own column data.

The columns that need to be split out are:
['device', 'geoNetwork', 'totals', 'trafficSource']

In [4]:
#print out shape of dataframe and names of all columns of the dataframe to see what columns are getting added as iterate through
print('original df shape: ', df.shape)
print('original df columns: ', df.columns)

#iterate through each of the column names that have to be split out into indiviual columns
for column in ['device', 'geoNetwork', 'totals', 'trafficSource']:

    #print out the name of the column you are processing in this for loop
    print('\n----------------------------------------\nsplitting out column: ', column)

    
    #some of the dictionaries have values of false/true instead of 'false'/'true'; python can't read the false/true
    #because is expecting False/True - instead of creating these boolean names, just convert them to text string
    #of 'false'/'true' before evaluating to dictionary
    df[column] = df[column].map(lambda x: x.replace("false", "'false'"))
    df[column] = df[column].map(lambda x: x.replace("true", "'true'"))
  

    #the JSON/dictionary columns are imported as string types - need to convert to python dictionaries using eval
    df[column] = df[column].map(lambda x: eval(x))

    
    #figure out all the possible unique keys for the dictionaries in this column - need this to make sure we
    #iterate through all of the dictionary data and store into different columns
    unique_column_keys = set()
    #iterate through each row of the column dictionaries
    for row_dictionary in list(df[column]):
        #iterate through each key of the row's dictionary and add to the unique column keys set (use add instead of append for sets)
        for row_key in list(row_dictionary.keys()):
            unique_column_keys.add(row_key)
    print('max length of column dictionaries is: ', len(unique_column_keys))
    print('unique column keys are: ', unique_column_keys)

    
    #use the set of unique_column_keys to add a new column for each of these keys
    for column_key in unique_column_keys:
        #create new column names of format:  originalcolumnname_columnkey, eg 'device_isMobile'
        df[f"{column}_{column_key}"] = df[column].map(lambda x: x.get(column_key, np.nan))
    
    print('updated df shape: ', df.shape)
    print('updated df columns: ', df.columns, '\n')

#drop original columns that had dictionary/jsons so don't keep repetitive data (cuts file size down by almost 40%)
print('\n----------------------------------------\n')
df.drop(['device', 'geoNetwork', 'totals', 'trafficSource'], axis=1, inplace=True)
print('final df shape after dropping original columns: ', df.shape)
    
#show the final df head
df.head(3)

original df shape:  (903653, 12)
original df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime'],
      dtype='object')

----------------------------------------
splitting out column:  device
max length of column dictionaries is:  16
unique column keys are:  {'language', 'deviceCategory', 'mobileDeviceMarketingName', 'browserSize', 'screenResolution', 'browser', 'mobileDeviceModel', 'mobileDeviceBranding', 'screenColors', 'isMobile', 'mobileDeviceInfo', 'flashVersion', 'browserVersion', 'operatingSystem', 'mobileInputSelector', 'operatingSystemVersion'}
updated df shape:  (903653, 28)
updated df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime', 'device_language',
       'device_deviceCategory', 'device_mobileDeviceMarketingName',
       'device_browserSize', 'device_screenResolution', 'device_browser',
       'device_mobileDeviceModel', 'device_mobileDeviceBranding',
       'device_screenColors', 'device_isMobile', 'device_mobileDeviceInfo',
       'device_flashVersion', 'device_browserVersion',
       'device_operatingSystem', 'device_mobileInputSelector',
       'device_operatingSystemVersion'],
      dtype='object')


----------------------------------------
splitting out column:  geoNetwork
max length of column dictionaries is:  11
unique column keys are:  {'longitude', 'cityId', 'subContinent', 'region', 'continent', 'networkLocation', 'country', 'latitude', 'city', 'metro', 'networkDomain'}
updated df shape:  (903653, 39)
updated df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime', 'device_language',
       'device_deviceCategory', 'device_mobileDeviceMarketingName',
       'device_browserSize', 'device_screenResolution', 'device_browser',
       'device_mobileDeviceModel', 'device_mobileDeviceBranding',
       'device_screenColors', 'device_isMobile', 'device_mobileDeviceInfo',
       'device_flashVersion', 'device_browserVersion',
       'device_operatingSystem', 'device_mobileInputSelector',
       'device_operatingSystemVersion', 'geoNetwork_longitude',
       'geoNetwork_cityId', 'geoNetwork_subContinent', 'geoNetwork_region',
       'geoNetwork_continent', 'geoNetwork_networkLocation',
       'geoNetwork_country', 'geoNetwork_latitude', 'geoNetwork_city',
       'geoNetwork_metro', 'geoNetwork_networkDomain'],
      dtype='object')


----------------------------------------
splitting out column:  totals
max length of column dictionaries is:  6
unique column keys are:  {'bounces', 'hits', 'newVisits', 'pageviews', 'visits', 'transactionRevenue'}
updated df shape:  (903653, 45)
updated df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime', 'device_language',
       'device_deviceCategory', 'device_mobileDeviceMarketingName',
       'device_browserSize', 'device_screenResolution', 'device_browser',
       'device_mobileDeviceModel', 'device_mobileDeviceBranding',
       'device_screenColors', 'device_isMobile', 'device_mobileDeviceInfo',
       'device_flashVersion', 'device_browserVersion',
       'device_operatingSystem', 'device_mobileInputSelector',
       'device_operatingSystemVersion', 'geoNetwork_longitude',
       'geoNetwork_cityId', 'geoNetwork_subContinent', 'geoNetwork_region',
       'geoNetwork_continent', 'geoNetwork_networkLocation',
       'geoNetwork_country', 'geoNetwork_latitude', 'geoNetwork_city',
       'geoNetwork_metro', 'geoNetwork_networkDomain', 'totals_bounces',
       'totals_hits', 'totals_newVisits', 'totals_pageviews', 'totals_visits',
       'totals_transactionRevenue'],
      dtype='object')


----------------------------------------
splitting out column:  trafficSource
max length of column dictionaries is:  9
unique column keys are:  {'adwordsClickInfo', 'isTrueDirect', 'keyword', 'source', 'adContent', 'medium', 'referralPath', 'campaign', 'campaignCode'}
updated df shape:  (903653, 54)
updated df columns:  Index(['channelGrouping', 'date', 'device', 'fullVisitorId', 'geoNetwork',
       'sessionId', 'socialEngagementType', 'totals', 'trafficSource',
       'visitId', 'visitNumber', 'visitStartTime', 'device_language',
       'device_deviceCategory', 'device_mobileDeviceMarketingName',
       'device_browserSize', 'device_screenResolution', 'device_browser',
       'device_mobileDeviceModel', 'device_mobileDeviceBranding',
       'device_screenColors', 'device_isMobile', 'device_mobileDeviceInfo',
       'device_flashVersion', 'device_browserVersion',
       'device_operatingSystem', 'device_mobileInputSelector',
       'device_operatingSystemVersion', 'geoNetwork_longitude',
       'geoNetwork_cityId', 'geoNetwork_subContinent', 'geoNetwork_region',
       'geoNetwork_continent', 'geoNetwork_networkLocation',
       'geoNetwork_country', 'geoNetwork_latitude', 'geoNetwork_city',
       'geoNetwork_metro', 'geoNetwork_networkDomain', 'totals_bounces',
       'totals_hits', 'totals_newVisits', 'totals_pageviews', 'totals_visits',
       'totals_transactionRevenue', 'trafficSource_adwordsClickInfo',
       'trafficSource_isTrueDirect', 'trafficSource_keyword',
       'trafficSource_source', 'trafficSource_adContent',
       'trafficSource_medium', 'trafficSource_referralPath',
       'trafficSource_campaign', 'trafficSource_campaignCode'],
      dtype='object')


----------------------------------------

final df shape after dropping original columns:  (903653, 50)

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device_language,device_deviceCategory,...,totals_transactionRevenue,trafficSource_adwordsClickInfo,trafficSource_isTrueDirect,trafficSource_keyword,trafficSource_source,trafficSource_adContent,trafficSource_medium,trafficSource_referralPath,trafficSource_campaign,trafficSource_campaignCode
0,Organic Search,20160902,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,not available in demo dataset,desktop,...,NaN,{'criteriaParameters': 'not available in demo ...,NaN,(not provided),google,NaN,organic,NaN,(not set),NaN
1,Organic Search,20160902,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,not available in demo dataset,desktop,...,NaN,{'criteriaParameters': 'not available in demo ...,NaN,(not provided),google,NaN,organic,NaN,(not set),NaN
2,Organic Search,20160902,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,not available in demo dataset,desktop,...,NaN,{'criteriaParameters': 'not available in demo ...,NaN,(not provided),google,NaN,organic,NaN,(not set),NaN

# Datetime Feature Engineering
### (Add in Additional Date/Time Features into our Data to Help with Analysis - day of week, holiday, local timezone, etc.)
1. Use the visitStartTime, which is a POSIX timestamp to get the UTC date and hour all together into a datetime object (rather than converting just the date column, which doesn't have any hour info).  This POSIX format can be extracted to a python datetime object - for example, a timestamp of 1472830385 becomes datetime.datetime(2016, 09, 02, 9, 33, 5), wich is in format year, month, day, hour, minute, second.
2. Then use the UTC datetime object to extract to a string formatted datetime_iso_utc (that can be used for time series analysis based on purchase time).  (iso format is: 'YYYY-MM-DD HH:MM:SS')
    - datetime_iso_utc
3. Convert to local timezone datetime object (this will require an indepth sub-process to identify timezone/call it)
4. Using the local timezone datetime object, extract multiple new datetime features:
    - datetime_iso_local
    - year_local
    - month_local
    - day_local
    - yearday_local (overall day of the year 1 to 365, which captures the month and day values)
    - weekday_local (values of 1 to 7 - 1 is Monday)
    - hour_local
5. Try to add a column to determine whether the date is a holiday or not.
    - holiday_local

### Figure Out Local Timezones for Each Location 
- Combine City/Country info given to us
- Get a rough lat/lng for that location by using Gmaps Geocoding API
- Use timezonedb API to send each location lat/lng to find out the local timezone

In [5]:
###CREATE NEW CITY_COUNTRY COLUMN THAT COMBINES CITY/COUNTRY TOGETHER###

#the geographic information provided almost always has a country listed (a very small percent country is "(not set)")
#note - there some strange, incorrect combinations - like New York Canada or Mountain View Germany, which will have a small percentage of rough data
#the geographic information sometimes have a city (more common for larger countries, but not consistent)

df['city_country'] = df.apply(lambda row: 
                              row.geoNetwork_city + " " + row.geoNetwork_country 
                              if row.geoNetwork_city not in ["not available in demo dataset", "(not set)"] 
                              else row.geoNetwork_country,
                              axis='columns')

In [24]:
###GET LAT, LNG OF ALL CITY_COUNTRY COMBINATIONS (best approximation for location with sample data)###

#create a unique set of all city_country combinations to cycle through
city_country_set = set(df.city_country)
#remove the '(not set)' label from the set for the few cases where '(not set)' was in country
city_country_set.remove('(not set)')

#get Lat/Lng for our locations by using Google Geocoding and store info in a dictionary
city_country_lat_lng = {}

for city_country in city_country_set:
    #Google Geocoding works by inputting an address and get a lat, lng returned
    #https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=YOUR_API_KEY
    #every data point at least has a country

    base_geocode_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
    geocode_parameters = {'address': city_country,
                          'key': gmaps_api_key}

    json_geocode_response = requests.get(base_geocode_url, geocode_parameters).json()
    if json_geocode_response.get('status') != 'ZERO_RESULTS':
        lat = json_geocode_response.get('results')[0].get('geometry').get('location').get('lat')
        lng = json_geocode_response.get('results')[0].get('geometry').get('location').get('lng')
    else:
        lat = np.nan
        lng = np.nan
    
    city_country_lat_lng[city_country] = (lat, lng)


#add a column to the dataframe that has each city_country approximate lat/lng
df['lat_lng'] = df['city_country'].map(lambda x: city_country_lat_lng.get(x, (np.nan, np.nan)))

In [25]:
###GET APPROXIMATE TIMEZONE FOR EACH CITY_COUNTRY COMBINATIONS (using timezonedb API)###

#store timezone for all of our city_country locations in a dictionary
city_country_timezone = {}

#city_country_lat_lng is a dictionary with city_country: (lat, lng)
#cycle through each city_country lat,lng and call the timezonedb API
for city_country, lat_lng in city_country_lat_lng.items():
    #get local timezone info for each city/country combination in our dataset by looking up their lat,lng
    #http://api.timezonedb.com/v2.1/get-time-zone (has a 1 second rate limit)
    base_timezonedb_url = 'http://api.timezonedb.com/v2.1/get-time-zone?'
    timezonedb_parameters = {'key': timezonedb_api_key,
                             'format': 'json',
                             'by': 'position',
                             'lat': lat_lng[0],
                             'lng': lat_lng[1]}

    json_timezone_response = requests.get(base_timezonedb_url, timezonedb_parameters).json()
    
    if json_timezone_response.get('status') != 'FAILED':
        #get the gmt timezone offset and the abbreviation for the timezone - gmtOffset it the time offset in seconds
        #so will need to divide it by 3600 to get the usable offset in hours
        timezone_abbreviation = json_timezone_response.get('abbreviation', np.nan)
        timezone_gmt_offset = json_timezone_response.get('gmtOffset', np.nan)/3600
    else:
        timezone_abbreviation = np.nan
        timezone_gmt_offset = np.nan
    
    city_country_timezone[city_country] = (timezone_abbreviation, timezone_gmt_offset)
    
    #need to sleep for 1 second because api says it has a 1 request/second rate limit
    sleep(1.1)

#add a column to the dataframe that has each city_country approximate timezone
df['timezone'] = df['city_country'].map(lambda x: city_country_timezone.get(x, (np.nan, np.nan)))

### Extract the Different Datetime Features

- datetime_iso_utc   ('YYYY-MM-DD HH:MM:SS')
- datetime_iso_local  ('YYYY-MM-DD HH:MM:SS')
- year_local
- month_local
- day_local
- yearday_local (overall day of the year 1 to 365, which captures the month and day values)
- weekday_local  (values of 1 to 7 where 1 is Monday)
- hour_local
- holiday_local

In [26]:
def extract_datetime_info(timestamp, gtm_offset_hours):
    #first convert the timestamp to datetime object with utc setting
    datetime_object_utc = datetime.fromtimestamp(timestamp, tz=pytz.UTC)
    #convert timestamp to isoformat for timeseries analysis in Tableau, etc. (and ease of viewing) - both utc and local
    #initially gives string format of '2016-09-02T09:33:05', strip out the middle T so looks like '2016-09-02 09:33:05'
    datetime_iso_utc = datetime_object_utc.isoformat().replace("T", " ")  #'YYYY-MM-DD HH:MM:SS'
    
    #these timestamps aren't adjusted for timezone, in order to have better analysis
    #it seems like we would want the datetime in the approximate local timezone based on country/city since
    #we would assume consumer behavior is more similar between consumers based on the local time, rather than UTC time
    #some of the data doesn't have a timezone, so only return the datetime_iso_utc if gtm_offset_hours is not a nan
    if ~np.isnan(gtm_offset_hours): 
        #convert datetime by changing the timezone by the gtmOffsets
        datetime_object_local = datetime_object_utc.astimezone(timezone(timedelta(hours=gtm_offset_hours)))

        #convert timestamp to isoformat for timeseries analysis in Tableau, etc. (and ease of viewing) - both utc and local
        #initially gives string format of '2016-09-02T09:33:05', strip out the middle T so looks like '2016-09-02 09:33:05'
        datetime_iso_local = datetime_object_local.isoformat().replace("T", " ")  #'YYYY-MM-DD HH:MM:SS'

        #extract year, month, month-day, day, day of the week (using isoweekday), and hour into different variables
        year_local = datetime_object_local.year #YYYY (as int)
        month_local = datetime_object_local.month #MM (as int)
        day_local = datetime_object_local.day #DD (as int) - this is the day of the month, max 31
        yearday_local = datetime_object_local.timetuple().tm_yday #DDD (as int) - this is the day of the year sequentially 1 to 365 which gives context of the month-day in one value
        weekday_local = datetime_object_local.isoweekday() #integer values of 1 to 7 where 1 is Monday
        hour_local = datetime_object_local.hour #HH (as int)

        return datetime_iso_utc, datetime_iso_local, year_local, month_local, day_local, yearday_local, weekday_local, hour_local
    
    else:
        return datetime_iso_utc, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan

In [27]:
#use the extract_datetime_info function to add columns of all of the additional datetime features to the df
df[['datetime_iso_utc', 'datetime_iso_local',
    'year_local', 'month_local','day_local',
    'yearday_local', 'weekday_local', 'hour_local']] = df[['visitStartTime', 'timezone']].apply(lambda row:
                                                        extract_datetime_info(row.visitStartTime, row.timezone[1]),
                                                        axis='columns',
                                                        result_type='expand')

In [28]:
df.head()

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device_language,device_deviceCategory,...,lat_lng,timezone,datetime_iso_utc,datetime_iso_local,year_local,month_local,day_local,yearday_local,weekday_local,hour_local
0,Organic Search,20160902,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,not available in demo dataset,desktop,...,"(38.423734, 27.142826)","(+03, 3.0)",2016-09-02 15:33:05+00:00,2016-09-02 18:33:05+03:00,2016.0,9.0,2.0,246.0,5.0,18.0
1,Organic Search,20160902,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,not available in demo dataset,desktop,...,"(-25.274398, 133.775136)","(ACST, 9.5)",2016-09-03 05:22:27+00:00,2016-09-03 14:52:27+09:30,2016.0,9.0,3.0,247.0,6.0,14.0
2,Organic Search,20160902,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,not available in demo dataset,desktop,...,"(40.4167754, -3.7037902)","(CEST, 2.0)",2016-09-03 01:16:26+00:00,2016-09-03 03:16:26+02:00,2016.0,9.0,3.0,247.0,6.0,3.0
3,Organic Search,20160902,4763447161404445595,4763447161404445595_1472881213,Not Socially Engaged,1472881213,1,1472881213,not available in demo dataset,desktop,...,"(-0.789275, 113.921327)","(WIB, 7.0)",2016-09-03 05:40:13+00:00,2016-09-03 12:40:13+07:00,2016.0,9.0,3.0,247.0,6.0,12.0
4,Organic Search,20160902,27294437909732085,27294437909732085_1472822600,Not Socially Engaged,1472822600,2,1472822600,not available in demo dataset,mobile,...,"(55.378051, -3.435973)","(BST, 1.0)",2016-09-02 13:23:20+00:00,2016-09-02 14:23:20+01:00,2016.0,9.0,2.0,246.0,5.0,14.0

# Clean and Save Engineered Dataframe to Pickle for Easier Access Later

In [29]:
#there are many columns in our sample data that only have 'not available in demo dataset' values,
#so want to drop those columns as they are not useful
columns_to_drop = ['device_language', 'device_screenColors', 'device_mobileDeviceMarketingName', 'device_mobileInputSelector', 
'device_mobileDeviceBranding', 'device_mobileDeviceInfo', 'device_browserSize', 'device_browserVersion', 'device_mobileDeviceModel',
'device_flashVersion', 'device_screenResolution', 'device_operatingSystemVersion', 'geoNetwork_cityId', 'geoNetwork_latitude',
'geoNetwork_networkLocation', 'geoNetwork_longitude', 'trafficSource_adwordsClickInfo']

df.drop(columns_to_drop, axis=1, inplace=True)

In [30]:
#dropping one row in the FULL TRAINING DATASET (v1) that was causing an error when trying to save data to a csv for Tableau processing
df.drop(564203, inplace=True)

In [31]:
#verify the size of the df we are saving (the full training datset should be about 100k rows on partial
#and 900k rows on fulland 43 good columns)
print(df.shape)

(903652, 44)

In [32]:
# #save the dataframe to pickle and a csv - PARTIAL DATASET
# df.to_pickle('data/train_partial_data_split.pkl')
# df.to_csv('data/train_partial_data_split.csv')

#save the dataframe to pickle and a csv - FULL TRAINING DATASET (v1)
df.to_pickle('data/train_v1_full_data_split.pkl')
df.to_csv('data/train_v1_full_data_split.csv')

# Initial Exploration - Determine the Value Counts of each Column
To get a better grasp of the data that we have, look at value counts of each column.  Some will have lots of different values (like fullVisitorId, which will be unique to every individual).  Others will have binary info.

Cycle through and print the top 10 value_counts for each column.

In [33]:
#iterate through every single column in the dataset (that is not a dictionary, can't do value_counts on a dictionary)
for column in df.columns:

    #print out the name of the column you are processing in this for loop
    print('\n----------------------------------------\nCOLUMN: ', column)
    
    #if column has dictionaries, it can't do value_counts so flag this in output
    if type(df[column][0]) == dict:
        print('column contains dictionaries')
        print('example dictionary from 0th row: \n', df[column][0])
    
    else:
        #print out the length of the value_counts for the column
        print('# of Unique Values in Column: ', len(df[column].value_counts()))

        #print out the top ten value_counts for the column
        #normalize=True provides relative frequency of the value (instead of just count), so 0.473 is 47.3%
        print('Top 10 Value Counts for Column: \n', df[column].value_counts(normalize=True).head(10))

----------------------------------------
COLUMN:  channelGrouping
# of Unique Values in Column:  8
Top 10 Value Counts for Column:
 Organic Search    0.422242
Social            0.250226
Direct            0.158276
Referral          0.116016
Paid Search       0.028026
Affiliates        0.018152
Display           0.006930
(Other)           0.000133
Name: channelGrouping, dtype: float64

----------------------------------------
COLUMN:  date
# of Unique Values in Column:  366
Top 10 Value Counts for Column:
 20161128    0.005320
20161115    0.005185
20161114    0.004942
20161130    0.004908
20161026    0.004841
20161129    0.004799
20161116    0.004796
20161004    0.004783
20161205    0.004720
20170426    0.004674
Name: date, dtype: float64

----------------------------------------
COLUMN:  fullVisitorId
# of Unique Values in Column:  714166
Top 10 Value Counts for Column:
 1957458976293878100    0.000308
0824839726118485274    0.000282
3608475193341679870    0.000222
1856749147915772585    0.000220
3269834865385146569    0.000172
0720311197761340948    0.000169
7634897085866546110    0.000164
4038076683036146727    0.000153
0232377434237234751    0.000149
3694234028523165868    0.000143
Name: fullVisitorId, dtype: float64

----------------------------------------
COLUMN:  sessionId
# of Unique Values in Column:  902754
Top 10 Value Counts for Column:
 859169837119660000_1499927321     0.000002
8449557708121140199_1499410572    0.000002
0871871490398316774_1486626964    0.000002
0438507614536469401_1498632705    0.000002
0800616921594379946_1486194987    0.000002
0457113071096146986_1486454238    0.000002
1266178329889017575_1492412380    0.000002
9769681559249418613_1477896107    0.000002
12518979108223200_1479369571      0.000002
4968177382277050337_1480578835    0.000002
Name: sessionId, dtype: float64

----------------------------------------
COLUMN:  socialEngagementType
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 Not Socially Engaged    1.0
Name: socialEngagementType, dtype: float64

----------------------------------------
COLUMN:  visitId
# of Unique Values in Column:  886302
Top 10 Value Counts for Column:
 1493146175    0.000009
1484649802    0.000007
1481369525    0.000007
1478345904    0.000007
1500856602    0.000006
1495031359    0.000006
1494374199    0.000006
1487580558    0.000004
1491913766    0.000004
1490264449    0.000004
Name: visitId, dtype: float64

----------------------------------------
COLUMN:  visitNumber
# of Unique Values in Column:  384
Top 10 Value Counts for Column:
 1     0.778020
2     0.102416
3     0.039665
4     0.021200
5     0.012853
6     0.008496
7     0.005990
8     0.004461
9     0.003413
10    0.002672
Name: visitNumber, dtype: float64

----------------------------------------
COLUMN:  visitStartTime
# of Unique Values in Column:  887158
Top 10 Value Counts for Column:
 1493146175    0.000009
1484649802    0.000007
1478345904    0.000007
1481369525    0.000007
1494374199    0.000006
1500856602    0.000006
1495031359    0.000006
1490264767    0.000004
1475719086    0.000004
1481874207    0.000004
Name: visitStartTime, dtype: float64

----------------------------------------
COLUMN:  device_deviceCategory
# of Unique Values in Column:  3
Top 10 Value Counts for Column:
 desktop    0.735326
mobile     0.230978
tablet     0.033695
Name: device_deviceCategory, dtype: float64

----------------------------------------
COLUMN:  device_browser
# of Unique Values in Column:  54
Top 10 Value Counts for Column:
 Chrome               0.686508
Safari               0.201676
Firefox              0.041021
Internet Explorer    0.021441
Edge                 0.011293
Android Webview      0.008704
Safari (in-app)      0.007580
Opera Mini           0.006792
Opera                0.006245
UC Browser           0.002686
Name: device_browser, dtype: float64

----------------------------------------
COLUMN:  device_isMobile
# of Unique Values in Column:  2
Top 10 Value Counts for Column:
 false    0.735383
true     0.264617
Name: device_isMobile, dtype: float64

----------------------------------------
COLUMN:  device_operatingSystem
# of Unique Values in Column:  20
Top 10 Value Counts for Column:
 Windows          0.387397
Macintosh        0.281013
Android          0.137100
iOS              0.119144
Linux            0.038769
Chrome OS        0.029145
(not set)        0.005196
Windows Phone    0.001346
Samsung          0.000310
BlackBerry       0.000241
Name: device_operatingSystem, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_subContinent
# of Unique Values in Column:  23
Top 10 Value Counts for Column:
 Northern America    0.432309
Southeast Asia      0.086095
Southern Asia       0.065645
Western Europe      0.065417
Northern Europe     0.064370
Eastern Asia        0.051922
Eastern Europe      0.050073
South America       0.046180
Western Asia        0.042542
Southern Europe     0.039595
Name: geoNetwork_subContinent, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_region
# of Unique Values in Column:  376
Top 10 Value Counts for Column:
 not available in demo dataset    0.562417
California                       0.118956
(not set)                        0.030794
New York                         0.029251
England                          0.014605
Texas                            0.009682
Bangkok                          0.008531
Washington                       0.008457
Illinois                         0.008394
Ho Chi Minh                      0.008023
Name: geoNetwork_region, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_continent
# of Unique Values in Column:  6
Top 10 Value Counts for Column:
 Americas     0.498397
Asia         0.247548
Europe       0.219455
Oceania      0.016659
Africa       0.016317
(not set)    0.001625
Name: geoNetwork_continent, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_country
# of Unique Values in Column:  222
Top 10 Value Counts for Column:
 United States     0.403633
India             0.056591
United Kingdom    0.041380
Canada            0.028627
Vietnam           0.027221
Turkey            0.022710
Thailand          0.022269
Germany           0.022110
Brazil            0.021892
Japan             0.021835
Name: geoNetwork_country, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_city
# of Unique Values in Column:  649
Top 10 Value Counts for Column:
 not available in demo dataset    0.562417
Mountain View                    0.045243
(not set)                        0.037915
New York                         0.029183
San Francisco                    0.022496
Sunnyvale                        0.014481
London                           0.013951
San Jose                         0.011393
Los Angeles                      0.009594
Bangkok                          0.008531
Name: geoNetwork_city, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_metro
# of Unique Values in Column:  94
Top 10 Value Counts for Column:
 not available in demo dataset        0.562417
(not set)                            0.223277
San Francisco-Oakland-San Jose CA    0.106139
New York NY                          0.029787
London                               0.013911
Los Angeles CA                       0.011061
Seattle-Tacoma WA                    0.008457
Chicago IL                           0.008394
Austin TX                            0.004194
Washington DC (Hagerstown MD)        0.003740
Name: geoNetwork_metro, dtype: float64

----------------------------------------
COLUMN:  geoNetwork_networkDomain
# of Unique Values in Column:  28064
Top 10 Value Counts for Column:
 (not set)              0.270990
unknown.unknown        0.161603
comcast.net            0.031808
rr.com                 0.016408
verizon.net            0.015091
ttnet.com.tr           0.014638
comcastbusiness.net    0.011050
hinet.net              0.008763
virginm.net            0.007098
3bb.co.th              0.006691
Name: geoNetwork_networkDomain, dtype: float64

----------------------------------------
COLUMN:  totals_bounces
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 1    1.0
Name: totals_bounces, dtype: float64

----------------------------------------
COLUMN:  totals_hits

# of Unique Values in Column:  274
Top 10 Value Counts for Column:
 1     0.494386
2     0.152661
3     0.077908
4     0.046969
5     0.034238
6     0.026468
7     0.021599
8     0.017135
9     0.014341
10    0.011774
Name: totals_hits, dtype: float64

----------------------------------------
COLUMN:  totals_newVisits
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 1    1.0
Name: totals_newVisits, dtype: float64

----------------------------------------
COLUMN:  totals_pageviews
# of Unique Values in Column:  213
Top 10 Value Counts for Column:
 1     0.500825
2     0.159116
3     0.081716
4     0.050016
5     0.036977
6     0.027323
7     0.021555
8     0.016902
9     0.013928
10    0.011183
Name: totals_pageviews, dtype: float64

----------------------------------------
COLUMN:  totals_visits
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 1    1.0
Name: totals_visits, dtype: float64

----------------------------------------
COLUMN:  totals_transactionRevenue
# of Unique Values in Column:  5332
Top 10 Value Counts for Column:
 16990000    0.022232
18990000    0.016413
33590000    0.016240
44790000    0.014763
13590000    0.011724
55990000    0.010595
19990000    0.010074
15990000    0.008511
15190000    0.008076
19190000    0.007990
Name: totals_transactionRevenue, dtype: float64

----------------------------------------
COLUMN:  trafficSource_isTrueDirect
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 true    1.0
Name: trafficSource_isTrueDirect, dtype: float64

----------------------------------------
COLUMN:  trafficSource_keyword
# of Unique Values in Column:  3658
Top 10 Value Counts for Column:
 (not provided)                     0.914255
6qEhsCssdK0z36ri                   0.028706
(Remarketing/Content targeting)    0.005735
1hZbAqLCbjwfgOH7                   0.005650
google merchandise store           0.005513
Google Merchandise                 0.004113
google store                       0.003187
youtube                            0.001417
(User vertical targeting)          0.001220
1X4Me6ZKNV0zg-jV                   0.001165
Name: trafficSource_keyword, dtype: float64

----------------------------------------
COLUMN:  trafficSource_source
# of Unique Values in Column:  380
Top 10 Value Counts for Column:
 google                  0.443519
youtube.com             0.235270
(direct)                0.158278
mall.googleplex.com     0.073497
Partners                0.018161
analytics.google.com    0.017896
dfa                     0.006292
google.com              0.005167
m.facebook.com          0.003724
baidu                   0.003714
Name: trafficSource_source, dtype: float64

----------------------------------------
COLUMN:  trafficSource_adContent
# of Unique Values in Column:  44
Top 10 Value Counts for Column:
 Google Merchandise Collection    0.467933
Google Online Store              0.113740
Display Ad created 3/11/14       0.088343
Full auto ad IMAGE ONLY          0.075096
Ad from 12/13/16                 0.055728
Ad from 11/3/16                  0.044674
Display Ad created 3/11/15       0.035812
{KeyWord:Google Brand Items}     0.022931
{KeyWord:Google Merchandise}     0.014160
Ad from 11/7/16                  0.011237
Name: trafficSource_adContent, dtype: float64

----------------------------------------
COLUMN:  trafficSource_medium
# of Unique Values in Column:  7
Top 10 Value Counts for Column:
 organic      0.422242
referral     0.366242
(none)       0.158276
cpc          0.028026
affiliate    0.018152
cpm          0.006930
(not set)    0.000133
Name: trafficSource_medium, dtype: float64

----------------------------------------
COLUMN:  trafficSource_referralPath
# of Unique Values in Column:  1475
Top 10 Value Counts for Column:
 /                    0.228207
/yt/about/           0.214649
/analytics/web/      0.044177
/yt/about/tr/        0.044114
/yt/about/vi/        0.041557
/yt/about/es-419/    0.038481
/yt/about/pt-BR/     0.036269
/yt/about/th/        0.034538
/yt/about/ru/        0.033822
/yt/about/es/        0.021430
Name: trafficSource_referralPath, dtype: float64

----------------------------------------
COLUMN:  trafficSource_campaign
# of Unique Values in Column:  10
Top 10 Value Counts for Column:
 (not set)                                          0.957610
Data Share Promo                                   0.018152
AW - Dynamic Search Ads Whole Site                 0.015763
AW - Accessories                                   0.007824
test-liyuhz                                        0.000434
AW - Electronics                                   0.000106
Retail (DO NOT EDIT owners nophakun and tianyu)    0.000055
AW - Apparel                                       0.000051
All Products                                       0.000004
Data Share                                         0.000001
Name: trafficSource_campaign, dtype: float64

----------------------------------------
COLUMN:  trafficSource_campaignCode
# of Unique Values in Column:  1
Top 10 Value Counts for Column:
 11251kjhkvahf    1.0
Name: trafficSource_campaignCode, dtype: float64

----------------------------------------
COLUMN:  city_country
# of Unique Values in Column:  1340
Top 10 Value Counts for Column:
 United States                  0.204675
Mountain View United States    0.044994
New York United States         0.029024
United Kingdom                 0.026746
India                          0.026041
San Francisco United States    0.022360
Germany                        0.018446
Canada                         0.018032
Japan                          0.016820
Brazil                         0.015619
Name: city_country, dtype: float64

----------------------------------------
COLUMN:  lat_lng
# of Unique Values in Column:  1278
Top 10 Value Counts for Column:
 (37.09024, -95.712891)        0.204675
(37.3860517, -122.0838511)    0.045004
(40.7127753, -74.0059728)     0.029027
(55.378051, -3.435973)        0.026747
(20.593684, 78.96288)         0.026041
(37.7749295, -122.4194155)    0.022369
(51.165691, 10.451526)        0.018446
(56.130366, -106.346771)      0.018032
(36.204824, 138.252924)       0.016820
(-14.235004, -51.92528)       0.015619
Name: lat_lng, dtype: float64

----------------------------------------
COLUMN:  timezone
# of Unique Values in Column:  65
Top 10 Value Counts for Column:
 (CDT, -5.0)    0.238778
(PDT, -7.0)    0.132298
(CEST, 2.0)    0.130650
(+07, 7.0)     0.060490
(EDT, -4.0)    0.056849
(IST, 5.5)     0.056578
(BST, 1.0)     0.041445
(+03, 3.0)     0.029589
(EEST, 3.0)    0.025261
(JST, 9.0)     0.021800
Name: timezone, dtype: float64

----------------------------------------
COLUMN:  datetime_iso_utc
# of Unique Values in Column:  887158
Top 10 Value Counts for Column:
 2017-04-25 18:49:35+00:00    0.000009
2016-11-05 11:38:24+00:00    0.000007
2016-12-10 11:32:05+00:00    0.000007
2017-01-17 10:43:22+00:00    0.000007
2017-05-09 23:56:39+00:00    0.000006
2017-07-24 00:36:42+00:00    0.000006
2017-05-17 14:29:19+00:00    0.000006
2017-04-11 12:29:26+00:00    0.000004
2017-06-30 11:56:14+00:00    0.000004
2017-07-24 07:21:37+00:00    0.000004
Name: datetime_iso_utc, dtype: float64

----------------------------------------
COLUMN:  datetime_iso_local
# of Unique Values in Column:  898035
Top 10 Value Counts for Column:
 2017-04-25 15:49:35-03:00    0.000009
2017-01-17 11:43:22+01:00    0.000007
2016-12-10 13:32:05+02:00    0.000007
2017-07-24 02:36:42+02:00    0.000006
2017-05-17 16:29:19+02:00    0.000006
2016-11-05 13:38:24+02:00    0.000006
2017-05-09 18:56:39-05:00    0.000006
2017-05-12 17:33:43+05:30    0.000004
2017-07-24 02:36:48+02:00    0.000004
2017-03-23 15:50:49+05:30    0.000004
Name: datetime_iso_local, dtype: float64

----------------------------------------
COLUMN:  year_local
# of Unique Values in Column:  2
Top 10 Value Counts for Column:
 2017.0    0.517473
2016.0    0.482527
Name: year_local, dtype: float64

----------------------------------------
COLUMN:  month_local
# of Unique Values in Column:  12
Top 10 Value Counts for Column:
 11.0    0.126053
10.0    0.107263
12.0    0.088462
8.0     0.085376
7.0     0.079532
9.0     0.078597
3.0     0.077494
4.0     0.074299
5.0     0.072418
1.0     0.071463
Name: month_local, dtype: float64

----------------------------------------
COLUMN:  day_local
# of Unique Values in Column:  31
Top 10 Value Counts for Column:
 5.0     0.035627
1.0     0.035312
17.0    0.034675
26.0    0.034513
16.0    0.034187
27.0    0.033617
21.0    0.033571
20.0    0.033413
19.0    0.033398
15.0    0.033370
Name: day_local, dtype: float64

----------------------------------------
COLUMN:  yearday_local
# of Unique Values in Column:  366
Top 10 Value Counts for Column:
 333.0    0.005217
320.0    0.005099
321.0    0.005071
300.0    0.004863
335.0    0.004852
334.0    0.004827
340.0    0.004727
336.0    0.004719
319.0    0.004658
301.0    0.004651

Name: yearday_local, dtype: float64

----------------------------------------
COLUMN:  weekday_local
# of Unique Values in Column:  7
Top 10 Value Counts for Column:
 3.0    0.163354
2.0    0.161772
4.0    0.157551
1.0    0.154041
5.0    0.145967
6.0    0.109172
7.0    0.108142
Name: weekday_local, dtype: float64

----------------------------------------
COLUMN:  hour_local
# of Unique Values in Column:  24
Top 10 Value Counts for Column:
 15.0    0.068968
14.0    0.067092
16.0    0.065810
11.0    0.063796
13.0    0.063113
12.0    0.061855
17.0    0.059081
10.0    0.057753
18.0    0.053047
20.0    0.051983
Name: hour_local, dtype: float64

#### Look more closely at fullVisitorID
##### (this is the id we need to assign final revenue to)

In [34]:
#for fullVisitorID check out actual value counts (instead of percentage) - this is the id we need to assign final revenue to
print('\n----------------------------------------\nCOLUMN: ', 'fullVisitorId', '\n')

print('# of Unique Visitors: ', len(df['fullVisitorId'].value_counts()), '\n')

print('# of Unique Visitors Tracked More than Once: ', len(df['fullVisitorId'].value_counts()[df['fullVisitorId'].value_counts()>1]), '\n')

print('Top 10 Visitors/Counts: \n', df['fullVisitorId'].value_counts().head(10), '\n')

print('Last 5 Visitors/Counts: \n', df['fullVisitorId'].value_counts().tail(5))

----------------------------------------
COLUMN:  fullVisitorId

# of Unique Visitors:  714166

# of Unique Visitors Tracked More than Once:  93492

Top 10 Visitors/Counts:
 1957458976293878100    278
0824839726118485274    255
3608475193341679870    201
1856749147915772585    199
3269834865385146569    155
0720311197761340948    153
7634897085866546110    148
4038076683036146727    138
0232377434237234751    135
3694234028523165868    129
Name: fullVisitorId, dtype: int64

Last 5 Visitors/Counts:
 7799550081967585551    1
3024357404412117556    1
6447802399108460222    1
9049947554290937684    1
3248437177151980488    1
Name: fullVisitorId, dtype: int64

In [36]:
df.totals_transactionRevenue.value_counts().head(10)

16990000    256
18990000    189
33590000    187
44790000    170
13590000    135
55990000    122
19990000    116
15990000     98
15190000     93
19190000     92
Name: totals_transactionRevenue, dtype: int64

In [ ]:
16990000