In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train_v1_full_data_split.csv')

C:\Users\chutc\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (3,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Unnamed: 0,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device_deviceCategory,...,lat_lng,timezone,datetime_iso_utc,datetime_iso_local,year_local,month_local,day_local,yearday_local,weekday_local,hour_local
0,0,Organic Search,20160902,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,desktop,...,"(38.423734, 27.142826)","('+03', 3.0)",2016-09-02 15:33:05+00:00,2016-09-02 18:33:05+03:00,2016.0,9.0,2.0,246.0,5.0,18.0
1,1,Organic Search,20160902,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,desktop,...,"(-25.274398, 133.775136)","('ACST', 9.5)",2016-09-03 05:22:27+00:00,2016-09-03 14:52:27+09:30,2016.0,9.0,3.0,247.0,6.0,14.0
2,2,Organic Search,20160902,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,desktop,...,"(40.4167754, -3.7037902)","('CEST', 2.0)",2016-09-03 01:16:26+00:00,2016-09-03 03:16:26+02:00,2016.0,9.0,3.0,247.0,6.0,3.0
3,3,Organic Search,20160902,4763447161404445595,4763447161404445595_1472881213,Not Socially Engaged,1472881213,1,1472881213,desktop,...,"(-0.789275, 113.921327)","('WIB', 7.0)",2016-09-03 05:40:13+00:00,2016-09-03 12:40:13+07:00,2016.0,9.0,3.0,247.0,6.0,12.0
4,4,Organic Search,20160902,27294437909732085,27294437909732085_1472822600,Not Socially Engaged,1472822600,2,1472822600,mobile,...,"(55.378051, -3.435973)","('BST', 1.0)",2016-09-02 13:23:20+00:00,2016-09-02 14:23:20+01:00,2016.0,9.0,2.0,246.0,5.0,14.0

In [4]:
df.columns

Index(['Unnamed: 0', 'channelGrouping', 'date', 'fullVisitorId', 'sessionId',
       'socialEngagementType', 'visitId', 'visitNumber', 'visitStartTime',
       'device_deviceCategory', 'device_browser', 'device_isMobile',
       'device_operatingSystem', 'geoNetwork_subContinent',
       'geoNetwork_region', 'geoNetwork_continent', 'geoNetwork_country',
       'geoNetwork_city', 'geoNetwork_metro', 'geoNetwork_networkDomain',
       'totals_bounces', 'totals_hits', 'totals_newVisits', 'totals_pageviews',
       'totals_visits', 'totals_transactionRevenue',
       'trafficSource_isTrueDirect', 'trafficSource_keyword',
       'trafficSource_source', 'trafficSource_adContent',
       'trafficSource_medium', 'trafficSource_referralPath',
       'trafficSource_campaign', 'trafficSource_campaignCode', 'city_country',
       'lat_lng', 'timezone', 'datetime_iso_utc', 'datetime_iso_local',
       'year_local', 'month_local', 'day_local', 'yearday_local',
       'weekday_local', 'hour_local'],
      dtype='object')

In [5]:
#creating actual_revenue column with revenue in dollars
df['actual_revenue'] = df.totals_transactionRevenue.map(lambda x: x/1000000)

#converting all values in actual_revenue to floats
for x in df.actual_revenue:
    x = float(x)
    

type(df.actual_revenue.max())

#create a mask for just visits with revenue
rev_df = df[df['actual_revenue'] > 0]

rev_df.shape

(11515, 46)

In [6]:
total_rev = rev_df.actual_revenue.sum()
print('Total revenue generated is $' + str(rev_df.actual_revenue.sum()))

Total revenue generated is $1540071.24

In [7]:
#create new dataframe of revenue by customer
visitor_df = pd.DataFrame(rev_df.groupby('fullVisitorId')['actual_revenue'].sum())

In [11]:
visitor_df.actual_revenue.max()

77113.43000000001

In [8]:
visitor_df.actual_revenue.sum()

1540071.24

In [10]:
#get top 20% and of customers by revenue
#(11515*.2) = 2303

top_20 = visitor_df.sort_values('actual_revenue', ascending=False).head(2302)

top_20_rev = top_20.actual_revenue.sum()

top_20_percent_of_rev = (top_20_rev/total_rev)*100
bottom_80_percent_of_rev = 100-((top_20_rev/total_rev)*100)

print(f'Top 20% of customers make up {top_20_percent_of_rev}% of revenue')
print(f'Bottom 80% of customers make up {bottom_80_percent_of_rev}% of revenue')

Top 20% of customers make up 77.94502090695492% of revenue
Bottom 80% of customers make up 22.054979093045077% of revenue